{% extends 'admin_layout.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} Pending Withdrawals {% endblock %}

{% block section %}

{% include "_modal.html" %}

<h2>Approve Withdrawal Requests</h2>
{% if pending_requests %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Creator</th>
            <th>Amount Requested</th>
            <th>Account Balance</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for request in pending_requests %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ request.creator.user.username }}</td>
            <td>{{ request.amount }}</td>
            <td>{{ request.balance }}</td>
            <td>{{ request.request_date }}</td>
            <td>{{ request.status }}</td>
            <td>
                <div>
                    <input type="hidden" id="requestType-{{ forloop.counter }}" value="deposit">
                    <input type="hidden" id="id_payment_method-{{ forloop.counter }}"
                        value="{{request.network_operator}}">
                    <input type="hidden" id="id_account_number-{{ forloop.counter }}"
                        value="{{request.account_number}}">
                    <input type="hidden" name="withdrawal_amount" id="id_amount-{{ forloop.counter }}"
                        value="{{ request.amount }}">
                </div>
                <!-- <form method="POST" style="display: inline-block;" id="approve-form-{{ forloop.counter }}">
                    {% csrf_token %}
                    <input type="hidden" name="withdrawal_request_id" id="id_request-{{ forloop.counter }}"
                        value="{{ request.pk }}">
                    <button type="submit" name="action" id="id_action-approve-{{ forloop.counter }}"
                        value="approve">Approve</button>
                </form> -->
                <div class="row">
                    <div class="col-12 mb-3">
                        <button id="withdraw" class="btn btn-primary" type="button" name="button">Approve</button>
                    </div>
                </div>
                <form method="POST" style="display: inline-block;" id="reject-form-{{ forloop.counter }}">
                    {% csrf_token %}
                    <input type="hidden" name="withdrawal_request_id" id="id_request-{{ forloop.counter }}"
                        value="{{ request.pk }}">
                    <button type="submit" name="action" id="id_action-reject-{{ forloop.counter }}"
                        value="reject">Reject</button>
                    <input type="text" name="rejection_reason" id="id_reason-{{ forloop.counter }}"
                        placeholder="Reason (optional)">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="loader" style="display: none;"></div>
{% else %}
<p>There are no pending withdrawal requests at this time.</p>
{% endif %}

{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        // Login
        $("#withdraw").modalForm({
            formURL: "{% url 'withdrawals' %}"
        });
    });
</script>
{%endblock extrascripts%}