{% extends 'layout_admin.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} Pending Withdrawals {% endblock %}

{% block section %}

{% include "_modal.html" %}
{% include "_confirmation.html" %}
<h2>Approve Withdrawal Requests</h2>
{% if pending_requests %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Creator</th>
            <th>Amount Requested</th>
            <th>Account Balance</th>
            <th>Status</th>
            <th>Request Date</th>
            <th>Reference ID</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for request in pending_requests %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ request.creator.user.username }}</td>
            <td>{{ request.amount }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.balance }}</td>
            <td>{{ request.request_date }}</td>
            <td>{{ request.reference_id }}</td>
            <td>
                <!-- Approve request buttons -->
                <button class="approve-request btn btn-md btn-primary"
                    data-form-url="{% url 'approve_withdraw' request.pk %}">
                    Approve
                </button>
                <!-- Reject request buttons -->
                <button class="reject-request btn btn-md btn-primary"
                    data-form-url="{% url 'reject_withdraw' request.pk %}">
                    Reject
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="loader" style="display: none;"></div>
{% else %}
<p>There are no pending withdrawal requests at this time.</p>
{% endif %}

{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        $('.approve-request, .reject-request').click(function () {
            const isApprove = $(this).hasClass('approve-request');
            const formUrl = $(this).data('form-url');
            const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            const requestId = extractRequestIdFromUrl(formUrl); // Extract request ID from URL

            $('#confirmationModal').modal('show');

            $('.approve-button').off('click').click(() => {
                // Handle approval logic
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: { is_approve: true, request_id: requestId },
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (response) {
                        if (response.message) {
                            if (response.redirect_url) {
                                window.location.href = response.redirect_url;
                            } else {
                                // Handle success without redirection
                                $('#confirmationModal').modal('hide');
                                // Update the table or display a success message
                            }
                        } else {
                            // Handle error
                            console.error(response.error);
                        }
                    },
                    error: function (error) {
                        // Handle error
                        console.error(error);
                    }
                });
            });

            $('.reject-button').off('click').click(() => {
                // Handle rejection logic
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: { is_approve: false }, // Add necessary data
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    success: function (response) {
                        if (response.message) {
                            if (response.redirect_url) {
                                window.location.href = response.redirect_url;
                            } else {
                                // Handle success without redirection
                                $('#confirmationModal').modal('hide');
                                // Update the table or display a success message
                            }
                        } else {
                            // Handle error
                            console.error(response.error);
                        }
                    },
                    error: function (error) {
                        // Handle error
                        console.error(error);
                    }
                });
            });
        });

        function extractRequestIdFromUrl(url) {
            // Extract the request ID from the URL (adjust based on your URL structure)
            // For example, if the URL is '/approve_withdraw/123/', you can use:
            return url.split('/').pop();
        }
    });
</script>
{%endblock extrascripts%}