{% extends "layout_admin.html" %}

{% block title %} Messages {% endblock title %}
{% block section %}
<h1>Customer Messages</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Received At</th>
            <th>Reply</th>
        </tr>
    </thead>
    <tbody>
        {% for msg in c_messages %}
        <tr>
            <td data-label="Name">{{ msg.name }}</td>
            <td data-label="Email">{{ msg.email }}</td>
            <td data-label="Subject">{{ msg.subject }}</td>
            <td data-label="Message">{{ msg.message }}</td>
            <td data-label="Received At">{{ msg.timestamp }}</td>
            <td data-label="Reply">
                <a href="{% url 'reply_to_message' msg.id %}">Reply</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock section %}