{% extends 'layout_admin.html' %}
{% load static%}
{% load custom_filters %}
{% block title %}Summary{% endblock %}

{% block section %}
<section class="admin-other-body">
  <div class="creator-dashboard">
    <div class="creator-stats">
      <div class="creator-stat">
        <h3><span id="current-balance">{{all_users}}</span></h3>
        <p>Total Users</p>
      </div>
      <div class="creator-stat">
        <h3><span id="withdrawn-total">{{all_creators}}</span></h3>
        <a href="{% url 'patron:creators' %}">Creators</a>
      </div>
      <div class="creator-stat">
        <h3><span id="num-patrons">{{pending_withdrawals}}</span></h3>
        <a href="{% url 'approve_withdrawals' %}">Pending Withdrawals</a>
      </div>
      <div class="creator-stat">
        <h3><span id="num-patrons">{{c_messages}}</span></h3>
        <a href="{% url 'customer_messages' %}">Pending Messages</a>
      </div>
    </div>
    <div class="creator-footer">
      <a href="{% url 'admin:index' %}">Admin site</a>
    </div>
    <div class="creator-footer">
      Last updated: <span id="last-updated">{{updated_at}}</span>
    </div>
  </div>

</section>

{% endblock %}