{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} Make payment {% endblock %}

{% block section %}
<h2>Pay "{{ tier.name }}"</h2>
<input type="hidden" id="id_request" value="{{tier.id}}">
<input type="hidden" id="requestType" value="pay">
<div id="loader" style="display: none;"></div>
<form method="post" id="payment-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.network_operator.auto_id }}">Select Service Provider</label>
    {{ form.network_operator }}
    <span class="text-danger">{{ form.network_operator.errors }}</span>
  </div>
  <div class="form-group">
    <label for="{{ form.amount.auto_id }}">Amount (ZMW)</label>
    {{ form.amount }}
    <span class="text-danger">{{ form.amount.errors }}</span>
  </div>
  <div class="form-group">
    <label for="{{ form.payer_account_number.auto_id }}">Phone Number</label>
    {{ form.payer_account_number }}
    <span class="text-danger">{{ form.payer_account_number.errors }}</span>
  </div>
  <div class="form-group">
    <label for="{{ form.description.auto_id }}">Description</label>
    {{ form.description }}
    <span class="text-danger">{{ form.description.errors }}</span>
  </div>
  <button type="submit" class="btn btn-primary">Next</button>
  {% if form.id == 'payment-form' %}
  <script>
    /**
 * Listens to submmission of the payment form and
 */
    document.addEventListener("DOMContentLoaded", () => {
      const paymentForm = document.getElementById('payment-form');

      if (paymentForm) {
        paymentForm.addEventListener('submit', function (event) {
          event.preventDefault();
          const id_request = document.getElementById('id_request').value;
          const requestType = document.getElementById('requestType').value;

          if (confirm('You will be asked to confirm payment on your mobile.') == true) {
            initiatePayment(id_request, 'pay');
          }
        });
      } else {
        console.error('The payment form with id "payment-form" was not found.');
      }
    });

  </script>
  {% endif %}
</form>
{% endblock %}