{% extends 'layout_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Transfer money {% endblock %}

{% block section %}
{% include 'reusables/_modal.html' %}

<div class="">
  <div class="button-container">
    <a>
      <button id="transfer" class="btn btn-primary button" type="button" name="button">Transfer</button>
    </a>
  </div>

  {% endblock section %}
  {% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      // open withdrawal form
      $("#transfer").modalForm({
        formURL: "{% url 'send_money_transfer' 'transfer' %}"
      });
      $('#modal').on('show.bs.modal', function (event) {
        $('#id_amount').keyup(function () {
          $(".modal-price").text(`amount: K${$(this).val()}`);
        });
      });
    });
  </script>
  {% endblock extrascripts %}