{% extends 'layout_base.html' %}
{% load static %}
{% block title %}Transfer{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="payee" style="display: block;">
                <h5>Send: {{ payee }}</h5>
            </div>
            <div id="step1" style="display: block;">
                <label for="amount">Amount</label>
                <input name="amount" type="number" class="form-control mb-3" placeholder="Ex. 100" required>
                <label for="desc">Description</label>
                <input name="desc" type="text" class="form-control mb-3" placeholder="Ex. Iphone XS" required>
                <div class="form-group">
                    <label for="paymentMethod">Select Payment Method:</label>
                    <select class="form-control" id="paymentMethod">
                        <option value="MTN">MTN</option>
                        <option value="Airtel">Airtel</option>
                    </select>
                </div>
                <button class="btn btn-primary mr-2" onclick="prevStep('home')">Back</button>
                <button class="btn btn-primary" onclick="nextStep()">Next</button>
            </div>
            <div id="step2" style="display: none;">
                <h2>Confirmation</h2>
                <p>Pay: {{ payee }}</p>
                <p>Amount: k 200</p>
                <p>Commision: k 1</p>
                <p>description: Iphone, samsung</p>
                <p>Total: k201</p>
                <!-- Confirmation & Receipt details will be displayed here -->
                <button class="btn btn-primary mr-2" onclick="prevStep('step1')">Back</button>
                <button class="btn btn-success" onclick="submitPayment()">Submit Payment</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}