braintree==4.28.0
crispy-bootstrap4==2024.1
django-annoying==0.10.6
django-bootstrap-modal-forms==3.0.4
django-braces==1.15.0
django-cors-headers==4.3.1
django-extensions==3.2.3
django-pagination-bootstrap==2.4.6
django-referrer-policy==1.0
django-rest-framework==0.1.0
django-verify-email==2.0.3
django-widget-tweaks==1.5.0
factory-boy==3.3.0
google-api-python-client==2.137.0
mypy==1.11.2
openapi-client==1.0.0
pillow==10.2.0
pip-autoremove==0.10.0
pip-chill==1.0.3
psycopg2==2.9.9
pysocks==1.7.1
pytest-cov==5.0.0
pytest-randomly==3.15.0
python-environ==0.4.54
selenium==4.20.0
social-auth-app-django==5.4.2
types-python-dateutil==2.9.0.20240906
vulture==2.13
whitenoise==6.6.0
