{% extends 'layout_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login {% endblock %}

{% block page %}
<div class="login-section">
    {% if next %}
    {% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'accounts:signin' %}">
        <h5 class="login-section-title">Sign into Luso</h5>
        {% csrf_token %}
        {{form|crispy}}
        <div class="btn-container">
            <input type="submit" value="Continue" class="btn btn-dark luso-sign-btn">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

    <a class="small" href="{% url 'password_reset' %}">Forgot password?</a>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'accounts:signup' %}"
            style="color: #393f81;">Register here</a></p>
    <h6 class="login-section-title">or</h6>
    <div class="social-login-btns">
        <!-- Google signin -->
        <div class="btn-container">
            {% if request.session.google_user_data %}
            <div>
                <p>Click here to <a href="{% url 'accounts:logout' %}">Sign out</a></p>
            </div>
            {% else %}
            <div>
                <div id="g_id_onload" data-client_id="{{ CLIENT_ID }}" data-context="signin" data-ux_mode="redirect"
                    data-login_uri="{{GOOGLE_LOGIN_URI}}" data-auto_select="false" data-itp_support="true">
                </div>

                <div id="google-login-button" class="g_id_signin" data-type="standard" data-shape=""
                    data-theme="filled_black" data-text="signin_with" data-size="large" data-logo_alignment="left">
                </div>
            </div>
            {% endif %}
        </div>
        <!-- FB login -->
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
        <!-- Tiktok login -->
        <!-- TikTok Login Button -->
        {% if request.session.tiktok_user_data %}
        <div>
            <p>Click here to <a href="{% url 'accounts:logout' %}">Sign out</a></p>
        </div>
        {% else %}
        <a href="{% url 'accounts:tiktok_oauth' %}"  class="tiktok-login-button">
            <img src="{% static 'assets/img/tiktok.png'%}" alt="TikTok Logo" class="tiktok-logo">
            Login with TikTok
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block extrascripts %}

{%endblock extrascripts%}