{% extends 'layout_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login {% endblock %}

{% block page %}
<div class="login-section">
    {% if next %}
    {% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'accounts:signin' %}">
        <h5 class="login-section-title">Sign into Luso</h5>
        {% csrf_token %}
        {{form|crispy}}
        <div class="btn-container">
            <input type="submit" value="Continue" class="btn btn-dark luso-sign-btn">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

    <a class="small" href="{% url 'password_reset' %}">Forgot password?</a>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'accounts:signup' %}"
            style="color: #393f81;">Register here</a></p>
    <h6 class="login-section-title">or</h6>
    <div class="social-login-btns">
        <!-- Google signin -->
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-login-button google">
            <i class="fab fa-google"></i> Login with Google
        </a>
        <!-- FB login -->
        <a href="{% url 'social:begin' 'facebook' %}" class="social-login-button facebook">
            <i class="fab fa-facebook"></i> Login with Facebook
        </a>
        <!-- Tiktok login -->
        {% if request.session.tiktok_user_data %}
        <div>
            <p>Click here to <a href="{% url 'accounts:logout' %}">Sign out</a></p>
        </div>
        {% else %}
        <a href="{% url 'accounts:tiktok_oauth' %}"  class="tiktok-login-button">
            <img src="{% static 'assets/img/tiktok.png'%}" alt="TikTok Logo" class="tiktok-logo">
            Login with TikTok
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block extrascripts %}

{%endblock extrascripts%}