{% extends 'layout_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login {% endblock %}

{% block page %}
<div class="login-section">
    {% if next %}
    {% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'accounts:signin' %}">
        <h5 class="login-section-title">Sign into Luso</h5>
        {% csrf_token %}
        {{form|crispy}}
        <div class="btn-container">
            <input type="submit" value="Continue" class="btn btn-dark luso-sign-btn">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

    <a class="small" href="{% url 'password_reset' %}">Forgot password?</a>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'accounts:signup' %}"
            style="color: #393f81;">Register here</a></p>
    <h6 class="login-section-title">or</h6>
    <div class="social-login-btns">
        <!-- Google signin -->
        <div class="btn-container">
            {% if request.session.user_data %}
            <div>
                <p>Hi {{ request.session.user_data.given_name }} 🙂</p>
                <p>Your email is {{ request.session.user_data.email }}</p>
                <img src="{{ request.session.user_data.picture }}" alt="User picture">
                <p>Click here to <a href="{% url 'accounts:sign_out' %}">Sign out</a></p>
            </div>
            {% else %}
            <div>
                <div id="g_id_onload" data-client_id="{{ CLIENT_ID }}" data-context="signin" data-ux_mode="redirect"
                    data-login_uri="{{GOOGLE_LOGIN_URI}}" data-auto_select="false" data-itp_support="true">
                </div>

                <div id="google-login-button" class="g_id_signin" data-type="standard" data-shape=""
                    data-theme="filled_black" data-text="signin_with" data-size="large" data-logo_alignment="left">
                </div>
            </div>
            {% endif %}
        </div>
        <!-- FB login -->
        <div class="btn-container">
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="" data-layout=""
                data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
        <!-- Tiktok login -->
        <!-- TikTok Login Button -->
        <a href="{% url 'accounts:oauth' %}"  class="tiktok-login-button">
            <img src="{% static 'assets/img/tiktok.png'%}" alt="TikTok Logo" class="tiktok-logo">
            Login with TikTok
        </a>
    </div>
</div>

<!-- Set the element id for the JSON response -->

<p id="profile"></p>
<script>
    // FB Signin code


    // < !--Add the Facebook SDK for Javascript-- >

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')
    );


    window.fbAsyncInit = function () {
        // < !--Initialize the SDK with your app and the Graph API version for your app-- >
        FB.init({
            appId: '988995782712101',
            xfbml: true,
            version: 'v20.0'
        });
        // < !--If you are logged in, automatically get your name and email adress, your public profile information-- >
        FB.login(function (response) {
            if (response.authResponse) {
                console.log('Welcome! Fetching your information.... ');
                FB.api('/me', { fields: 'name, email' }, function (response) {
                    document.getElementById("profile").innerHTML = "Good to see you, " + response.name + ". i see your email address is " +
                        response.email
                });
            } else {
                // < !--If you are not logged in, the login dialog will open for you to login asking for permission to get your public profile and email-- >
                console.log('User cancelled login or did not fully authorize.');
            }
        });
    };

</script>

{% endblock %}
{% block extrascripts %}

{%endblock extrascripts%}