{% extends 'layout_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signup {% endblock %}

{% block page %}
{% load widget_tweaks %}
<div class="login-section">
    <form method="post" action="{% url 'accounts:signup' %}">
        <h5 class="login-section-title">Sign Up</h5>
        {% csrf_token %}

        <div class="modal-body">
            <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="btn-container">
            <input type="submit" value="Create account" class="btn btn-dark luso-sign-btn">
        </div>
    </form>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already registered. <a href="{% url 'accounts:signin' %}"
            style="color: #393f81;"> Login</a></p>
    <h6 class="login-section-title">or</h6>
    <div class="social-login-btns">
        <!-- Google signin -->
        <div class="btn-container">
            {% if request.session.user_data %}
            <div>
                <p>Hi {{ request.session.user_data.given_name }} 🙂</p>
                <p>Your email is {{ request.session.user_data.email }}</p>
                <img src="{{ request.session.user_data.picture }}" alt="User picture">
                <p>Click here to <a href="{% url 'accounts:sign_out' %}">Sign out</a></p>
            </div>
            {% else %}
            <div>
                <div id="g_id_onload" data-client_id="{{ CLIENT_ID }}" data-context="signin" data-ux_mode="redirect"
                    data-login_uri="{{GOOGLE_LOGIN_URI}}" data-auto_select="false" data-itp_support="true">
                </div>

                <div id="google-login-button" class="g_id_signin" data-type="standard" data-shape=""
                    data-theme="filled_black" data-text="signin_with" data-size="large" data-logo_alignment="left">
                </div>
            </div>
            {% endif %}
        </div>
        <!-- FB login -->
        <div class="btn-container">
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="" data-layout=""
                data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
        <!-- Tiktok login -->
        <!-- TikTok Login Button -->
        <button class="tiktok-login-button">
            <img src="{% static 'assets/img/tiktok.png'%}" alt="TikTok Logo" class="tiktok-logo">
            Login with TikTok
        </button>
    </div>

</div>
{% endblock %}