{% extends 'layout_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Signup {% endblock %}

{% block page %}
{% load widget_tweaks %}
<div class="login-section">
    <form method="post" action="{% url 'accounts:signup' %}">
        <h5 class="login-section-title">Sign Up</h5>
        {% csrf_token %}

        <div class="modal-body">
            <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="btn-container">
            <input type="submit" value="Create account" class="btn btn-dark luso-sign-btn">
        </div>
    </form>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already registered. <a href="{% url 'accounts:signin' %}"
            style="color: #393f81;"> Login</a></p>
    <h6 class="login-section-title">or</h6>
    <div class="social-login-btns">
        <!-- Google signin -->
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-login-button google">
            <i class="fab fa-google"></i> Login with Google
        </a>
        <!-- FB login -->
        <a href="{% url 'social:begin' 'facebook' %}" class="social-login-button facebook">
            <i class="fab fa-facebook"></i> Login with Facebook
        </a>
        <!-- Tiktok login -->
        {% if request.session.tiktok_user_data %}
        <div>
            <a href="{% url 'accounts:logout' %}" class="tiktok-login-button">
                <img src="{% static 'assets/img/tiktok.png'%}" alt="TikTok Logo" class="tiktok-logo">
                Logout
            </a>
        </div>
        {% else %}
        <a href="{% url 'accounts:tiktok_oauth' %}" class="tiktok-login-button">
            <img src="{% static 'assets/img/tiktok.png'%}" alt="TikTok Logo" class="tiktok-logo">
            Login with TikTok
        </a>
        {% endif %}
    </div>

</div>
{% endblock %}