{% extends 'admin_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Withdraw Funds {% endblock %}

{% block section %}
<div class="withdraw-form">
    <h3>Balance: {{total_payments}}</h3>
    {% if total_payments < 1 %} <h2>You have low balance.</h2>
        {% else %}
        <h4>Request a Withdrawal</h4>
        <div class="withdraw-form">
            <form method="post" action="{% url 'patron:withdraw' %}" id="withdraw-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{form.payment_method.auto_id}}">Select Service Provider</label>
                    {{ form.payment_method }}
                    <span class="text-danger">{{ form.payment_method.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="{{ form.amount.auto_id }}">Amount (ZMW)</label>
                    {{ form.amount }}
                    <span class="text-danger">{{ form.amount.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="{{ form.account_number.auto_id }}">Accoun number</label>
                    {{ form.account_number }}
                    <span class="text-danger">{{ form.account_number.errors }}</span>
                </div>
                <!-- {% if form.id == 'withdraw-form' %}
                <script>
                    /**
                * Handle withdraw button
                */
                    document.addEventListener('DOMContentLoaded', () => {
                        const withdrawForm = document.getElementById('withdraw-form');

                        if (withdrawForm) {
                            addEventListener('submit', function (event) {
                                event.preventDefault(); // Prevent form from submitting immediately
                                const accountNumber = document.getElementById('id_account_number').value;
                                const amount = document.getElementById('id_amount').value;

                                const confirmation = confirm(`Are you sure you want to withdraw ZMW ${amount} using (Account Number: ${accountNumber})?`);
                                if (confirmation) {
                                    this.submit(); // Submit the form if the user confirms
                                }
                            });
                        } else {
                            console.error('The withdraw form with id "withdraw-form" was not found.');
                        }
                    })
                </script>
                {% endif %} -->
                <input class="btn btn-dark" type="submit">
            </form>
        </div>
        {% endif %}
        {% if pending_requests %}
        <br><br>
        <h5>Pending Requests</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Request Date</th>
                    <th>Transaction ID</th>
                    <th>Account</th>
                    <th>Payment Method</th>
                </tr>
            </thead>
            <tbody>
                {% for request in pending_requests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.amount }}</td>
                    <td>{{ request.request_date }}</td>
                    <td>{{ request.transaction_id|safe }}</td>
                    <td>{{ request.account_number }}</td>
                    <td>{{ request.payment_method }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
</div>
{% endblock %}