{% extends 'admin_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Withdraw Funds {% endblock %}

{% block section %}
<div class="withdraw-form">
    <h3>Balance: {{total_payments}}</h3>
    {% if total_payments < 1 %} <h2>You have low balance.</h2>
        {% else %}
        <h4>Request a Withdrawal</h4>
        <div class="withdraw-form">
            <form method="post" action="{% url 'patron:withdraw' %}">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-dark" type="submit">
            </form>
        </div>
        {% endif %}
        {% if pending_requests %}
        <br><br>
        <h5>Pending Requests</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Request Date</th>
                    <th>Transaction ID</th>
                    <th>Account</th>
                    <th>Payment Method</th>
                </tr>
            </thead>
            <tbody>
                {% for request in pending_requests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.amount }}</td>
                    <td>{{ request.request_date }}</td>
                    <td>{{ request.transaction_id|safe }}</td>
                    <td>{{ request.account_number }}</td>
                    <td>{{ request.payment_method }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
</div>
{% endblock %}