{% extends 'layout_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Tiers Edit {% endblock %}
{% block main %}

<section class="admin-other-body">
    <div class="edit-tier-container">
        <h2>Customize Subscription</h2>
        <form action="{% url 'patron:edit_tier' tier_id=tier_id %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{form | crispy}}
            </div>
            <button type="submit" class="submit-button">Save Changes</button>
        </form>
    </div>
</section>


{% endblock %}