{% extends 'layout_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Withdraw Funds {% endblock %}

{% block section %}
{% include '_modal.html' %}

<div class="">

    {% if total_payments < 10 %} <h2>You have low balance.</h2>
        <h3>Wallet Balance: {{total_payments}}</h3>
        {% else %}
        <h3>Wallet Balance: {{total_payments}}</h3>
        <div class="">
            <div class="button-container">
                <a>
                    <button id="request-withdraw" class="btn btn-primary button" type="button"
                        name="button">Withdraw</button>
                </a>
            </div>
        </div>
        {% endif %}
        {% if pending_requests %}
        <br><br>
        <h5>Pending Requests</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Amount</th>
                    <th>Request Date</th>
                    <th>Transaction ID</th>
                    <th>Account</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for request in pending_requests %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.amount }}</td>
                    <td>{{ request.request_date }}</td>
                    <td>{{ request.reference_id|safe }}</td>
                    <td>{{ request.account_number }}</td>
                    <td>{{ request.wallet_type }}</td>
                    <td>{{ request.status | upper }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
</div>
{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        // open withdrawal form
        $("#request-withdraw").modalForm({
            formURL: "{% url 'withdrawals' %}"
        });

        // open confirmation
        $("#confirm-withdraw").click(function () {
            $('#confirmationModal').modal('show');
        });

    });
</script>
{% endblock extrascripts %}