{% extends 'layout_admin.html' %}
{% load static %}
{% block title %} Products {% endblock %}

{% block main %}
<main id="main" class="main">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Products</h5>
      <!-- Table with hoverable rows -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Date Created</th>
            <th scope="col">Description</th>
            <th scope="col">Sold</th>
            <th scope="col">Available</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Iphone Pro</td>
            <td>5000</td>
            <td>23-02-2021</td>
            <td>Latest phone in store</td>
            <td>400</td>
            <td>3</td>
            <td>Active</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Iphone Pro</td>
            <td>5000</td>
            <td>23-02-2021</td>
            <td>Latest phone in store</td>
            <td>400</td>
            <td>3</td>
            <td>Active</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Iphone Pro</td>
            <td>5000</td>
            <td>23-02-2021</td>
            <td>Latest phone in store</td>
            <td>400</td>
            <td>3</td>
            <td>Active</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Iphone Pro</td>
            <td>5000</td>
            <td>23-02-2021</td>
            <td>Latest phone in store</td>
            <td>400</td>
            <td>3</td>
            <td>Active</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Iphone Pro</td>
            <td>5000</td>
            <td>23-02-2021</td>
            <td>Latest phone in store</td>
            <td>400</td>
            <td>3</td>
            <td>Active</td>
          </tr>
        </tbody>
      </table>
</main><!-- End #main -->
{% endblock %}