{% extends 'layout_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login {% endblock %}

{% block page %}
<div class="col-md-8">

    {% if next %}
    {% if request.user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        <h5 class="fw-normal mb-3 pb-3">Sign into Luso</h5>
        {% csrf_token %}
        {{form|crispy}}
        <div class="pt-1 mb-4">
            <input type="submit" value="login" class="btn btn-dark btn-lg btn-block">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <a class="small" href="{% url 'password_reset' %}">Forgot password?</a>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'accounts:signup' %}"
            style="color: #393f81;">Register here</a></p>
    <p style="align-items: center;">Or</p>
    {{LOGIN_URI}}
    <div class="container">
        {% if request.session.user_data %}
        <div>
            <p>Hi {{ request.session.user_data.given_name }} 🙂</p>
            <p>Your email is {{ request.session.user_data.email }}</p>
            <img src="{{ request.session.user_data.picture }}" alt="User picture">
            <p>Click here to <a href="{% url 'accounts:sign_out' %}">Sign out</a></p>
        </div>
        {% else %}
        <div>
            <div id="g_id_onload" data-client_id="{{ CLIENT_ID }}" data-context="signin" data-ux_mode="redirect"
                data-login_uri="http://localhost:8000/accounts/login" data-auto_select="false" data-itp_support="true">
            </div>

            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
                data-size="large" data-logo_alignment="left">
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock page %}