{% extends 'layout_auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change my password {% endblock %}

{% block page %}
{% if validlink %}
<h5>Please enter (and confirm) your new password.</h5>
<form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <div class="pt-1 mb-4">
        <input type="submit" value="Change my password" class="btn btn-dark btn-lg btn-block">
    </div>
</form>
{% else %}
<h1>Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
{% endif %}
{% endblock page %}