{% extends 'layout_admin.html' %}
{% load static%}
{% load custom_filters %}
{% block title %}Dashboard{% endblock %}

{% block main %}
<!DOCTYPE html>
<html lang="en">

<section class="cretaor-body">
  <div class="creator-dashboard">
    <div class="creator-stats">
      <div class="creator-stat">
        <h3>K<span id="current-balance">5,000</span></h3>
        <p>Balance</p>
      </div>
      <div class="creator-stat">
        <h3>K<span id="withdrawn-total">2,500</span></h3>
        <p>Withdrawn</p>
      </div>
      <div class="creator-stat">
        <h3><span id="num-patrons">150</span></h3>
        <p>Patrons</p>
      </div>
      <div class="creator-stat">
        <h3><span id="num-patrons">3</span></h3>
        <p>Tiers</p>
      </div>
    </div>
    <div class="creator-footer">
      Last updated: <span id="last-updated">May 28, 2024</span>
    </div>
  </div>

</section>

{% endblock %}