{% extends 'layout_admin.html' %}
{% load static%}
{% load custom_filters %}
{% block title %}Dashboard{% endblock %}

{% block main %}
<section class="admin-other-body">
  <div class="creator-dashboard">
    <div class="creator-stats">
      <div class="creator-stat">
        <h3>K<span id="current-balance">{{summary.balance | comma_format }}</span></h3>
        <p>Balance</p>
      </div>
      <div class="creator-stat">
        <h3>K<span id="withdrawn-total">{{summary.withdraws | comma_format }}</span></h3>
        <p>Withdrawn</p>
      </div>
      <div class="creator-stat">
        <h3><span id="num-patrons">{{summary.patrons}}</span></h3>
        <p>Patrons</p>
      </div>
      <div class="creator-stat">
        <h3><span id="num-patrons">{{summary.tiers}}</span></h3>
        <p>Tiers</p>
      </div>
    </div>
    <div class="creator-footer">
      Last updated: <span id="last-updated">{{summary.updated_at}}</span>
    </div>
  </div>

</section>

{% endblock %}