{% extends 'business_admin.html' %}
{% load static %}
{% block title %} New Invoice {% endblock %}
{% block main %}
<main id="main" class="main">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Invoicing...</h5>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form>
          <div id="step0" style="display: block;">
            <h2>Customer Information</h2>
            <label for="amount">Payee ID</label>
            <input name="payee" type="text" class="form-control mb-3" placeholder="Ex. lipila" required>
            <button class="btn btn-primary" onclick="nextStep('step1')">Continue</button>
          </div>

          <div id="step1" style="display: none;">
            <h2>Invoice Details</h2>
            <label for="amount">Amount</label>
            <input name="amount" type="number" class="form-control mb-3" placeholder="Ex. 100" required>
            <div class="form-group">
              <label for="paymentMethod">Description</label>
              <textarea name="details" type="text" class="form-control mb-3" placeholder="Ex. 100"></textarea>
            </div>
            <button class="btn btn-primary mr-2" onclick="prevStep('step0')">Back</button>
            <button class="btn btn-primary" onclick="nextStep('step2')">Continue</button>
          </div>

          <div id="step2" style="display: none;">
            <h2>Review Information</h2>
            <p>Bill to: Test customer</p>
            <p>Amount: k200</p>
            <p>Description: Product descripion</p>
            <button class="btn btn-primary mr-2" onclick="prevStep('step1')">Back</button>
            <button class="btn btn-primary" onclick="submitInvoice()">Submit Payment</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main><!-- End #main -->
{% endblock %}