{% extends 'school_layout.html' %}
{% load static %}
{% block title %} Invoices {% endblock %}
{% block main %}
<main id="main" class="main">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Invoices</h5>
      <!-- Table with hoverable rows -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Product</th>
            <th scope="col">Date</th>
            <th scope="col">Bill</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>lipila</td>
            <td>Karate class</td>
            <td>23-02-2021</td>
            <td>3000</td>
            <td>Paid</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>lipila</td>
            <td>Karate class</td>
            <td>23-02-2021</td>
            <td>3000</td>
            <td>Paid</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>lipila</td>
            <td>Karate class</td>
            <td>23-02-2021</td>
            <td>3000</td>
            <td>Pending</td>
          </tr>
          </tr>
        </tbody>
      </table>
</main><!-- End #main -->
{% endblock %}