{% extends 'school_layout.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} Students {% endblock %}

{% block main %}
<main id="main" class="main">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Students</h5>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Search" title="Enter search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End Search Bar -->
      <!-- Table with hoverable rows -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Other Name</th>
            <th scope="col">Address</th>
            <th scope="col">Grade</th>
            <th scope="col">Tution</th>
            <th scope="col">Active</th>
          </tr>
        </thead>
        <tbody>

          {% for student in students %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.other_name}}</td>
            <td>{{student.address}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.tuition | comma_format}}</td>
            <td>{{student.active}}</td>
            <td><a href="{% url 'business:edit_student' student.id %}">Change</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</main><!-- End #main -->
{% endblock %}