{% extends 'profile.html' %}
{% load static %}
{% block title %} Choose Profile Type  {% endblock %}
{% block main %}
<div class="message">
  {% if messages %}
  {% for message in messages %}
  <p class="alert alert-{{ message.tag }}">{{message}}</p>
  {% endfor %}
  {% endif %}
</div>
<div class="card-container">
  <div class="card text-center">
    <div class="card-header">
      <h1>Welcome, {{ request.user.username }}!</h1>
    </div>
    <div class="card-body">
      <p>Please choose your profile type:</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="profile_type">Profile type:</label>
          <select name="profile_type" id="profile_type" class="form-control" required>
            <option value="creator">Creator</option>
            <option value="patron">Patron</option>
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Continue</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}