{% extends 'layout_dark.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load patron_tags %}
{% block title %}Home{% endblock %}

{% block extrastylesheets %}
<link href="{% static 'file_manager/css/style.css' %}" rel="stylesheet">
{% if not user.is_authenticated %}
<link href="{% static 'assets/css/header.css' %}" rel="stylesheet">
{% endif %}
{% endblock extrastylesheets %}

{% block section %}
{% include 'lipila/modals/loader.html' %}
{% include '_modal.html' %}
{% include "lipila/modals/_confirmation_payment.html" %}
{% include "_header_frontend.html" %}
<div class="creator-container-home">
    <div class="creator-profile column-ctr">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="user-image">
                <button class="btn btn-secondary">
                    {% if creator.profile_image %}
                    {% if creator.profile_image.url %}
                    <img src="{{ creator.profile_image.url }}" height="100" width="100">
                    {% endif %}
                    {% else %}
                    <img src="{% static 'assets/img/avator.jpeg' %}" height="100" width="100">
                    {% endif %}
                </button>
            </div>
            <span class="category">{{creator.creator_category}}</span>
            <span class="name mt-3">@{{creator.patron_title}}</span>
            <div class="creator-footer creator-items">
                <p class="tier-url">{{ url }}</p>
                <span class="tier-url" data-url="{{ url }}">
                    <button class="copy-btn creator-items" data-clipboard-text="{{ url }}">
                        <i>Copy</i>
                    </button>
                </span>
            </div>
            {% if creator.about %}
            <div class="details"> <span>{{creator.about}} </span> </div>
            {% endif %}
            {% include '_filter_nav.html' %}
            <div class="content column {{media.content_type}}">
                <h3 class="creator-items">Media</h3>
                {% if media %}
                <div class="tiers-card">
                    <div class="container section-title" data-aos="fade-up">
                    </div><!-- End Section Title -->
                    {% include 'file_manager/_media_list.html' %}
                </div>
                {% endif %}
                <div class="tier-card">
                    <div class="tier-texts">
                        <h5 class="title">Buy me a coffee</h5>
                        <span class="price">K50</span>
                        <p class="description">Support me with a one-time contribution</p>
                    </div>
                    <div>
                        <form action="{% url 'checkout_support' creator.user %}" method="get">
                            {% csrf_token %}
                            <input type="hidden" name="amount" id="amount" value=50>
                            <input type="hidden" name="tier_name" id="tier_name" value={{creator}}>

                            <input type="hidden" value="{{creator.user}}" id="creator">
                            <input type="hidden" value="{{request.user}}" id="user">

                            <button id="support" class="btn-get-started" name="button">Support</button>
                        </form>
                    </div>
                </div>
                {% if tiers %}
                <!--  Section Title -->
                {% endif %}
                {% for tier in tiers %}
                {% if tier.visible_to_fans %}

                <div class="tier-card">
                    <div class="tier-texts">
                        <h5 class="title">{{ tier.name }}</h5>
                        <span class="price">K{{ tier.price }}/Month</span>
                        <p class="description">{{ tier.description }}</p>
                    </div>
                    <div class="">
                        {% if request.user.is_authenticated and user|is_patron_subscribed:tier.id %}
                        <!-- View Subscription details button -->
                        <a type="button" class="m-btn m-btn-primary"
                            href="{% url 'patron:subscription_detail' tier_id=tier.id  %}">
                            <span class="fa fa-eye">View</span>
                        </a>
                        {% else %}

                        <form action="{% url 'patron:join_tier' tier_id=tier.id %}" method="post" class="">
                            {% csrf_token %}
                            <button class="btn-get-started">Join</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span>
    </div>

</div>

<div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{patrons}}
        <span class="follow">Patrons</span></span>
</div>
{% include '_footer.html' %}
<!-- Scroll Top Button -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
{% endblock section %}
{% block extrascripts %}

{%endblock extrascripts%}