{% extends 'admin_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load patron_tags %}
{% block title %}Home {% endblock %}
{% block section %}
{% include '_modal.html' %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button
                class="btn btn-secondary">
                {% if creator.profile_image %}
                {% if creator.profile_image.url %}
                <img src="{{ creator.profile_image.url }}" height="100" width="100">
                {% endif %}
                {% else %}
                <img src="{% static 'assets/img/avator.jpeg' %}" height="100" width="100">
                {% endif %}
            </button> <span class="name mt-3">{{creator.patron_title}}</span> <span
                class="idd">{{creator.creator_category}}</span>
            <div class="text mt-3"> <span>{{creator.about}} </span> </div>
            <div class="tiers-container">
                <section class="admin-other-body">
                    <div class="tiers-container">

                        <div class="tier">
                            <div>
                                <div>
                                    <h3>Buy me a coffee</h3>
                                    <p>Make a one-time contribution to support my work.</p>
                                </div>
                                <div class="price">K50/Month</div>
                                <input type="hidden" value="{{creator.pk}}" id="tier">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <button id="send-money" class="btn btn-primary" type="button"
                                            name="button">Contribute</button>
                                    </div>
                                </div>
                                <!-- <div class="join-status">
                                    <a href="{% url 'patron:contribute' tier_id=creator.pk %}"
                                        class="edit-button joined">Contribute</a>
                                </div> -->
                            </div>
                        </div>
                        {% for tier in tiers %}
                        {% if tier.visible_to_fans %}
                        <div class="tier">
                            <div>
                                <div>
                                    <h3>{{ tier.name }}</h3>
                                    <p>{{ tier.description }}</p>
                                </div>
                                <div class="price">K{{ tier.price }}/Month</div>
                                <div class="join-status">
                                    {% if user|is_patron_subscribed:tier.id %}
                                    <div>
                                        <a href="{% url 'patron:make_payment' tier_id=tier.id %}"
                                            class="edit-button joined">Click to pay</a>
                                    </div>
                                    <form action="{% url 'patron:unsubscribe' tier_id=tier.id %}" method="post"
                                        class="tier-form">
                                        {% csrf_token %}
                                        <button class="edit-button">Unsubscribe</button>
                                    </form>
                                    {% else %}

                                    <form action="{% url 'patron:join_tier' tier_id=tier.id %}" method="post"
                                        class="tier-form">
                                        {% csrf_token %}
                                        <button class="edit-button">Join</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
            </div>
            </section>
        </div>
    </div>
    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
    <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{patrons}}
            <span class="follow">Patrons</span></span> </div>
</div>
</div>
</div>
{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        $("#send-money").modalForm({
            formURL: "{% url 'send_money' %}"
        });
    });
</script>
{%endblock extrascripts%}