{% extends 'profile.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Creator Profile Info {% endblock%}
{% block section %}
<div class="card-container">
  <div class="card text-center">
    <div class="card-header">
      <h1>Welcome, {{ creator }}!</h1>
    </div>
    <div class="card-body">
      <p>Fill in your creator profile details. You can edit later:</p>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy}}
        <br>
        <button type="submit" class="btn btn-primary">Continue</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}