{% extends 'layout_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load patron_tags %}
{% block title %}Home{% endblock %}

{% block extrastylesheets %}
{% if not user.is_authenticated %}
<link href="{% static 'assets/css/nav.css' %}" rel="stylesheet">
{% endif %}
{% endblock extrastylesheets %}

{% block section %}
{% include 'lipila/modals/loader.html' %}
{% include '_modal.html' %}
{% include "lipila/modals/_confirmation_payment.html" %}

<div class="subscription-container">
    <div class="creator-profile">
        <div class="user-image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
                {% if creator.profile_image %}
                {% if creator.profile_image.url %}
                <img src="{{ creator.profile_image.url }}" height="100" width="100">
                {% endif %}
                {% else %}
                <img src="{% static 'assets/img/avator.jpeg' %}" height="100" width="100">
                {% endif %}
            </button>

            <span class="name mt-3">@{{creator.patron_title}}</span>
            <span class="category">{{creator.creator_category}}</span>
            <div class="about text mt-3"> <span>{{creator.about}} </span> </div>
            <div class="content">
                <section class="">
                    <div class="tier-card">
                        <div>
                            <h3 class="title">Buy me a coffee</h3>
                            <span class="price">K50</span>
                            <p class="description">Make a one-time contribution to support my work.</p>
                        </div>
                        <input type="hidden" name="amount" id="amount" value=50>
                        <input type="hidden" name="tier_name" id="tier_name" value={{creator}}>

                        <div class="row join-status">
                            <div class="col-12 mb-3">
                                <button id="send-contribution" class="btn-primary" type="button" name="button">Buy
                                    me a Coffee</button>
                            </div>
                        </div>
                    </div>
                    <h3 class="h3-header">Subscriptions</h3>
                    {% for tier in tiers %}
                    {% if tier.visible_to_fans %}
                    <div class="tier-card">
                        <div>
                            <h3 class="title">{{ tier.name }}</h3>
                            <span class="price">K{{ tier.price }}/Month</span>
                            <p class="description">{{ tier.description }}</p>
                        </div>
                        <div class="join-status">
                            {% if request.user.is_authenticated and user|is_patron_subscribed:tier.id %}
                            <!-- View Subscription details button -->
                            <a type="button" class="btn-primary"
                                href="{% url 'patron:subscription_detail' tier_id=tier.id  %}">
                                <span class="fa fa-eye">View</span>
                            </a>
                            {% else %}

                            <form action="{% url 'patron:join_tier' tier_id=tier.id %}" method="post" class="tier-form">
                                {% csrf_token %}
                                <button class="btn btn-primary">Join</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>
            </section>
        </div>
    </div>
    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
    <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{patrons}}
            <span class="follow">Patrons</span></span> </div>
</div>
</div>
</div>
{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">
    $(function () {
        // make a contributions
        function PayTierModalForm() {
            $("#send-contribution").modalForm({
                formURL: "{% url 'send_money_id' 'contribution' creator.pk %}"
            });
            var amount = $('#amount').val()
            var tier_name = $('#tier_name').val()

            $('#modal').on('show.bs.modal', function (event) {
                $(this).find('.modal-price-title').text(`Buy ${tier_name} a coffee.`);
                $('#id_amount').keyup(function () {
                    $(".modal-price").text(`K${$(this).val()}`);
                });
            });

            $('#modal').on('click', '#submit-button', function (event) {
                event.preventDefault(); // Prevent default form submission
                $('#confirmationModal').modal('show'); // Show confirmation modal
            });

            $('#confirmationModal').on('click', '#confirm-button', function () {
                // hide confirmation modal
                $('#confirmationModal').modal('hide');
                $('#modal').modal('hide');

                // Blur the background
                // $('body').addClass('blur-background');

                // Show the loader modal
                $('#loader-modal').modal('show');

                // Submit the form after confirmation
                $('#modal form').submit();
            });
        }

        // Ensure the loader is hidden and the blur is removed when the page is loaded or navigated to using the back button
        $(window).on('pageshow', function (event) {
            if (event.originalEvent.persisted) {
                // Hide the loader modal if it is shown
                $('#loader-modal').modal('hide');
                // Remove blur effect from the background
                $('body').removeClass('blur-background');
            }
        });

        PayTierModalForm();
    });
</script>
{%endblock extrascripts%}