{% extends 'layout_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}user profile {% endblock %}
{% block main %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button
                class="btn btn-secondary">
                {% if creator.profile_image %}
                {% if creator.profile_image.url %}
                <img src="{{ creator.profile_image.url }}" height="100" width="100">
                {% endif %}
                {% else %}
                <img src="{% static 'assets/img/avator.jpeg' %}" height="100" width="100">
                {% endif %}
            </button> <span class="name mt-3">{{creator.patron_title}}</span> <span
                class="idd">{{creator.creator_category}}</span>
            <div class="text mt-3"> <span>{{creator.bio}} </span> </div>
            <div class="tiers-container">
                <h2>Tiers</h2>
                <div class="tier">
                    <div>
                        <h3>One-Time Contribution</h3>
                        <p>Make a one-time contribution to support the creator's work.</p>
                    </div>
                    <div class="price">K200/month</div>
                    <div class=" d-flex mt-2">
                        <a class="btn btn-dark"
                            href="{% url 'patron:join_tier' tier='one-time-contribution' creator=creator %}">Join</a>
                    </div>
                </div>
                <div class="tier">
                    <div>
                        <h3>Fan</h3>
                        <p>Support the creator and get access to exclusive content.</p>
                    </div>
                    <div class="price">K50/month</div>
                    <div class="d-flex mt-2">
                        <a class="btn btn-dark" href="{% url 'patron:join_tier' tier='fan' creator=creator %}">join</a>
                    </div>
                </div>
                <div class="tier">
                    <div>
                        <h3>Superfan</h3>
                        <p>Enjoy additional perks and behind-the-scenes content.</p>
                    </div>
                    <div class="price">K100/month</div>
                    <div class="d-flex mt-2">
                        <a class="btn btn-dark"
                            href="{% url 'patron:join_tier' tier='superfan' creator=creator %}">join</a>
                    </div>
                </div>
            </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                        class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                        class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">1069
                    <span class="follow">Patrons</span></span> </div>
        </div>
    </div>
</div>
{% endblock %}