{% load static %}
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <!-- Creator user -->
        {% if request.user.creatorprofile %}
        {% include 'reusables/_aside_creator.html' %}
        <!-- Staff User -->
        {% elif request.user.is_staff %}
        {% include 'reusables/_aside_staff.html' %}
        <!-- Regular User -->
        {% else %}
        {% include 'reusables/_aside_regular.html' %}
        {% endif %}

        <li class="nav-heading">Pages</li>
        {% if request.user.creatorprofile %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'creator_index' request.user.creatorprofile.patron_title %}">
                <i class="bi bi-person"></i>
                <span>Preview my Page</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'patron:profile' %}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'faq' %}">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'index' %}">
                <i class="bi bi-envelope"></i>
                <span>Contact Us</span>
            </a>
        </li><!-- End Contact Page Nav -->
        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <i class="bi bi-logout"></i>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <span><button type="submit" class="btn btn-dark">Logout</button></span>
            </form>
        </li><!-- End Contact Page Nav -->
        {% endif %}
    </ul>
</aside><!-- End Sidebar-->