{% extends 'layout_base.html' %}
{% load static %}
{% block title %}F.A.Q {% endblock %}
{% block extrastylesheets %}
{% if not user.is_authenticated %}
<link href="{% static 'assets/css/header.css' %}" rel="stylesheet">
{% endif %}
{% endblock extrastylesheets %}
{% block content %} <h1>Frequently Asked Questions</h1> {% endblock %}
{% block section %}
<section class="section faq">
    <div class="row">
        <div class="col-lg-6">
            <div class="card basic">
                <div class="card-body">
                    <h5 class="card-title">Getting Started</h5>
                    <div>
                        <h6>Is it free to create a Luso account?</h6>
                        <p>Absolutely! Creating a Luso account is completely free. We want to make it as easy
                            as possible for you to start earning from your creative work.</p>
                    </div>
                    <div class="pt-2">
                        <h6>How do my patrons pay me?</h6>
                        <p>Luso integrates seamlessly with Zambia's mobile money platforms. Your
                            patrons can easily pay you using their mobile money accounts for a convenient and
                            secure transaction.</p>
                    </div>

                    <div class="pt-2">
                        <h6>How do fans become patrons?</h6>
                        <p>Your fans can become patrons by signing up as a patron and simply click join on your profile.
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-lg-6">
            <!-- F.A.Q Group 1 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Fees & Transactions</h5>
                    <div class="accordion accordion-flush" id="faq-group-1">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn-link collapsed accordion-button" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    Does Luso charge any fees?
                                </button>
                            </h2>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    We do charge a small commission fee on each transaction processed through Lipila
                                    Patron. This fee helps us maintain and improve the platform to better serve both
                                    creators and patrons.
                                </div>
                            </div>
                        </div>

                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class=" btn-link collapsed accordion-button" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    What currency is supported by Luso?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Currently, Luso supports Zambian Kwacha (ZMW) transactions. We are
                                    constantly working on expanding our supported currencies in the future.
                                </div>
                            </div>
                        </div>

                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn-link collapsed accordion-button" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    What payment method is supported by Luso?
                                </button>
                            </h2>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Currently, Luso suports MTN mobile money. We are
                                    constantly working on expanding our supported payment gateways in the future.
                                </div>
                            </div>
                        </div>

                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn-link collapsed accordion-button" type="button"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    Who initiates the transaction?
                                </button>
                            </h2>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    The patron selects to make a payment or contribution to a creator, Luso
                                    sends the initiator a message for them to confirm with a pin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End F.A.Q Group 1 -->

            <!-- F.A.Q Group 2 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Managing Your Earnings</h5>

                    <div class="accordion accordion-flush" id="faq-group-2">

                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn-link collapsed accordion-button" type="button"
                                    data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    How can I withdraw my earnings from Luso?
                                </button>
                            </h2>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    You can easily withdraw your earnings directly to your mobile money account or your
                                    linked bank account (if available).
                                    We offer a smooth and secure withdrawal process.
                                </div>
                            </div>
                        </div>

                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn-link collapsed accordion-button" type="button"
                                    data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                                    aria-controls="collapseSix">
                                    Is there a minimum withdrawal amount?
                                </button>
                            </h2>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Yes, there is a minimum withdrawal amount to ensure efficient processing.
                                    You can find the current minimum withdrawal amount in your Luso account
                                    settings.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- End F.A.Q Group 2 -->
        </div>
    </div>
</section>
{% endblock %}