{% extends 'pages_layout.html' %}

{% block title %} P.P {% endblock %}
{% block content %} <h1>Privacy policy.</h1> {% endblock %}
{% block section %}
<section class="section terms">
    <h2>Lipila Patron Privacy Policy</h2>
    <h5>Effective Date: 30th May 2024</h5>
    <p>Lipila Tech Ltd. ("Lipila", "us", "we", or "our") respects the privacy of our users ("you" or "User") and is
        committed to protecting your personal information. This Privacy Policy explains how we collect, use, and
        disclose your personal information when you use Lipila mobile application (the "App"), the Lipila website (the
        "Website"), and any related services offered by Lipila (collectively, the "Services").
    </p>
    <h3>1. Information We Collect</h3>
    <h3>We collect the following types of information:</h3>
    <ul>
        <li><strong>Personal Information:</strong> This includes information that can be used to identify you, such as
            your name, email
            address, phone number, and mobile money account information. You may provide this information to us when you
            create
            an account, use the Services, or contact customer support.
        </li>
        <li>
            <strong>Usage Data:</strong> This includes information about your activity on the App, such as the pages you
            visit, the
            features you
            use, and the time you spend on the App. We may also collect information about your device, such as your
            device type,
            operating system, and IP address.
        </li>
    </ul>
    <h3>2. How We Use Your Information</h3>
    <p>We use your information to:</p>
    <ul>
        <li>Provide and operate the Services;</li>
        <li>Create and manage your account;</li>
        <li>Process your transactions;</li>
        <li>Send you important information about the Services, such as updates and changes to our terms and conditions;
        </li>
        <li>Respond to your inquiries and requests;</li>
        <li>Improve the Services;</li>
        <li>Prevent and detect fraud; and</li>
        <li>Comply with legal and regulatory requirements.</li>
    </ul>
    <h3>3. Sharing Your Information</h3>
    <p>We may share your information with third-party service providers who help us operate the Services. These service
        providers are contractually obligated to keep your information confidential and secure.</p>

    <p>We may also disclose your information if we are required to do so by law or in the good faith belief that such
        disclosure is necessary to comply with a legal process, protect our rights, or protect the safety of others.
    </p>
    <h3>4. Your Choices</h3>
    <p>You can access and update your personal information through the App settings.
        You can also opt out of receiving marketing communications from us by following the unsubscribe instructions in
        the
        emails we send you.
    </p>
    <h3>5. Data Security</h3>
    <p>We take reasonable steps to protect your information from unauthorized access, disclosure, alteration, or
        destruction. However, no internet transmission or electronic storage method is 100% secure.
    </p>
    <h3>6. Children's Privacy</h3>
    <p> The Services are not intended for children under the age of 13. We do not knowingly collect personal information
        from children under the age of 13. If you are a parent or guardian and you believe that your child has provided
        us
        with personal information, please contact us.
    </p>
    <h3>7. International Transfers</h3>
    <p>Your information may be transferred to and processed in countries other than your own country of residence. These
        countries may have different data protection laws than your own country.
    </p>
    <h3>8. Changes to This Privacy Policy</h3>
    <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
        Policy on the App.</p>
    <h3>9. Contact Us</h3>
    <p>If you have any questions about these Terms, please contact us at info.lipila@gmail.com.</p>
</section>
{% endblock %}