{% extends 'layout_base.html' %}
{% load static %}

{% block title %} Error {% endblock %}
{% block extrastylesheets %}
{% if not user.is_authenticated %}
<link href="{% static 'assets/css/header.css' %}" rel="stylesheet">
{% endif %}
{% endblock extrastylesheets %}
{% block section %}
<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>{{status}}</h1>
            <h2>{{message}}</h2>
            <a class="btn" href="{% url 'patron:creators' %}">Browse Creators</a>
            <img src="{% static 'assets/img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
        </section>

    </div>

{% endblock %}