{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} T.O.U {% endblock %}
{% block extrastylesheets %}
{% if not user.is_authenticated %}
<link href="{% static 'assets/css/nav.css' %}" rel="stylesheet">
{% endif %}
{% endblock extrastylesheets %}
{% block content %} <h1>Terms Of Use</h1> {% endblock %}
{% block section %}
<section class="section terms">
    <h2>Lipila Patron Terms of Use</h2>
    <h5>Effective Date: 30th May 2024</h5>
    <p>These Terms of Use ("Terms") constitute a legally binding agreement between you ("you" or "User") and Lipila Tech
        Ltd. ("Lipila", "us", "we", or "our") regarding your access to and use of the Lipila mobile application (the
        "App"), the Lipila website (the "Website"), and any related services offered by Lipila (collectively, the
        "Services").
    </p>
    <h3>1. Acceptance of Terms</h3>
    <p>By accessing or using the Services, you agree to be bound by these Terms. If you do not agree to all of these
        Terms,
        you are not authorized to use the Services.
    </p>
    <h3>2. Age Restriction</h3>
    <p>You must be at least 18 years old or the age of majority in your jurisdiction to use the Services.</p>
    <h3>3. User Accounts</h3>
    <p>You may be required to create an account ("Account") to access certain features of the Services. You are
        responsible
        for maintaining the confidentiality of your account information, including your login credentials, and for all
        activities that occur under your account. You agree to notify Lipila immediately of any unauthorized use of your
        account or any other security breach. Lipila will not be liable for any loss or damage arising from your failure
        to
        comply with these security obligations.
    </p>
    <h3>4. User Conduct</h3>
    <p>You agree to use the Services in a lawful and respectful manner. You will not:</p>
    <ul>
        <li>Use the Services for any illegal or unauthorized purpose.</li>
        <li>Violate any applicable laws or regulations.</li>
        <li>Infringe on the intellectual property rights of others.</li>
        <li>Transmit any harmful, offensive, or threatening content.</li>
        <li>Disrupt or interfere with the Services or any server or network connected to the Services.</li>
        <li>Impersonate any person or entity.</li>
        <li>Collect or store personal information about other users without their express consent.</li>
    </ul>
    <h3>5. Content Ownership</h3>
    <p>You retain all ownership rights to the content you create and upload to the Services ("Your Content"). However,
        by
        uploading Your Content, you grant Lipila a non-exclusive, worldwide, royalty-free license to use, reproduce,
        modify,
        publish, and distribute Your Content in connection with the Services.
    </p>
    <h3>6. Third-Party Links</h3>
    <p>The Services may contain links to third-party websites or resources. Lipila is not responsible for the content or
        privacy practices of any third-party websites. You access and use such websites at your own risk.
    </p>
    <h3>7. Disclaimers</h3>
    <p>THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING
        BUT
        NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. LIPILA
        MAKES NO WARRANTY THAT THE SERVICES WILL BE UNINTERRUPTED, ERROR-FREE, OR VIRUS-FREE.
    </p>
    <h3>8. Limitation of Liability</h3>
    <p>IN NO EVENT SHALL LIPILA, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT,
        INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE
        SERVICES, EVEN IF LIPILA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    </p>
    <h3>9. Termination</h3>
    <p>Lipila may terminate your access to the Services at any time, with or without cause, upon written notice. You may
        also terminate your account at any time.</p>
    <h3>10. Governing Law and Dispute Resolution</h3>
    <p>These Terms shall be governed by and construed in accordance with the laws of the Republic of Zambia. Any dispute
        arising out of or relating to these Terms shall be subject to the exclusive jurisdiction of the courts of
        Zambia.
    </p>
    <h3>11. Entire Agreement</h3>
    <p>These Terms constitute the entire agreement between you and Lipila regarding your use of the Services.</p>
    <h3>12. Changes to Terms</h3>
    <p>Lipila may revise these Terms at any time by posting the revised Terms on the Website. You are responsible for
        checking the Terms periodically for updates. Your continued use of the Services following the posting of revised
        Terms constitutes your acceptance of the revised Terms.</p>
    <h3>13. Contact Us</h3>
    <p>If you have any questions about these Terms, please contact us at info.lipila@gmail.com.</p>
</section>
{% endblock %}