{% load static %}
{% load custom_filters%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lipila-{% block title %}{% endblock%}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/logo-color.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.bubble.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />


    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        {% block header %}
        {% endblock %}

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <!-- <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">{{count|notification_counter:3}}</span>
                    </a>End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have {{count|notification_counter:3}} new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% get_notifications as user_notifications %}
                        {% for notifications in user_notifications %}
                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>{{notifications.title}}</h4>
                                <p>{{notifications.body}}</p>
                                <p>{{notifications.time}}</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% endfor %}
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>
                    </ul><!-- End Notification Dropdown Items -->
                </li><!-- End Notification Nav -->
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        {% if user.profile_image %}

                        {% if user.profile_image.url %}
                        <img src="{{user.profile_image.url}}" alt="Profile" class="rounded-circle">
                        {% else%}
                        <img src="#" alt="Profile" class="rounded-circle">
                        {% endif %}
                        {% endif %}
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{user.username}}</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ user.username }}</h6>
                            <h6>{{ user.category }}</h6>
                            <span>{{user.city}}</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' %}">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                {% if user.is_authenticated %}
                                <p>
                                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link">Logout</button>
                                    </form>
                                </p>
                                {% else %}
                                <p><a id="btn-getstarted" class="btn-getstarted" href="{% url 'login' %}">Login</a></p>
                                {% endif %}
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    {% if user.is_authenticated %}

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'dashboard' user=user %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            {% if user.patronprofile %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Actions </span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'withdraw' user=user %}">
                            <i class="bi bi-circle"></i><span>Contribute</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'patron' %}">
                            <i class="bi bi-circle"></i><span>PatronUser</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'history' user=user %}">
                            <i class="bi bi-circle"></i><span>History</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% elif user.creatorprofile %}

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Actions </span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'withdraw' user=user %}">
                            <i class="bi bi-circle"></i><span>Withdraw</span>
                        </a>
                    </li>
                </ul>
                <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'patron:tiers' %}">
                            <i class="bi bi-circle"></i><span>Tiers</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'patrons' %}">
                            <i class="bi bi-circle"></i><span>Patrons</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'history' user=user %}">
                            <i class="bi bi-circle"></i><span>History</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Forms & Actions </span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'business:products'%}">
                            <i class="bi bi-circle"></i><span>Add Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'withdraw' user=user %}">
                            <i class="bi bi-circle"></i><span>Withdraw</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'business:log_products' %}">
                            <i class="bi bi-circle"></i><span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'history' user=user %}">
                            <i class="bi bi-circle"></i><span>History</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Tables Nav -->
            {% endif %}

            <li class="nav-heading">Pages</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'profile' %}">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'faq' %}">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'index' %}">
                    <i class="bi bi-envelope"></i>
                    <span>Contact Us</span>
                </a>
            </li><!-- End Contact Page Nav -->
        </ul>

    </aside><!-- End Sidebar-->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <p class="alert alert-{{ message.tag }}">{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </main>
    {% endif %}
    <main id="main" class="main">
        {% block main %}
        {% endblock %}
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-about">
                    <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                        <span>Lipila Patron</span>
                    </a>
                    <p>Made for Creators by Creators.</p>
                    <div class="social-links d-flex mt-4">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/#hero">Home</a></li>
                        <li><a href="/#about">About us</a></li>
                        <li><a href="/#services">Services</a></li>
                        <li><a href="{% url 'terms' %}">Terms of use</a></li>
                        <li><a href="{% url 'privacy' %}">Privacy policy.</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Creators</h4>
                    <ul>
                        <li><a href="#">Video Creators</a></li>
                        <li><a href="#">Musicians</a></li>
                        <li><a href="#">Podcasters</a></li>
                        <li><a href="#">Artists</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Pricing</h4>
                    <p>FREE!</p>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>&copy; <span>Copyright</span> <strong class="px-1">Lipila Technologies Ltd</strong> <span>All Rights
                    Reserved</span></p>
            <div class="credits">
                Designed by <a href="#">Lipila Technologies Limited</a>
            </div>
        </div>

    </footer><!-- End Footer -->

    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- Vendor JS Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
    <script>
        const quill = new Quill('#editor', {
            theme: 'bubble', // Specify theme in configuration
        });
    </script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script>
        function nextStep(location) {
            if (location === "step1") {
                document.getElementById('step0').style.display = 'none';
                document.getElementById('step1').style.display = 'block';
            } else if (location == "step2") {
                document.getElementById('step1').style.display = 'none';
                document.getElementById('step2').style.display = 'block';
            }
        }

        // Add conditional navigation
        function prevStep(location) {
            // Go to setp 1 if user is on step 2
            if (location === "step1") {
                document.getElementById('step2').style.display = 'none';
                document.getElementById('step1').style.display = 'block';
            } else if (location == "step0") {
                document.getElementById('step1').style.display = 'none';
                document.getElementById('step0').style.display = 'block';
            }
            else {
                // Otherwise redirect the user to the index page
                document.getElementById('back-btn').style.display = 'none';
            }

        }

        function submitPayment() {
            // Payment submission logic here
            alert('Submit Payment button clicked');
        }

        function submitInvoice() {
            // Payment submission logic here
            alert('Submit Invoice button clicked');
        }

        function deleteProduct() {
            // delete product submission logic here
            alert('Delete product button');
        }
    </script>
</body>

</html>