{% extends 'layout_base.html' %}
{% load static %}
{% load custom_filters %}
{% block section %}

<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="{% static 'assets/img/ai1.jpeg' %}" alt="auth image" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                {% if messages %}
                                <div class="message">
                                    {% for message in messages %}
                                    <p class="alert alert-{{ message.tag }}">{{message}}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% block page %}{% endblock page%}
                                <p class="small">By signing in, I agree to the <a href="{% url 'terms' %}"
                                        class="small">Lipila's Terms of use.</a> and
                                    <a href="{% url 'privacy' %}" class="small">Privacy policy.</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock section%}