{% extends 'layout_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}


<div class="pagetitle">
  <h1>Profile</h1>
  <div>
    {% if messages %}
    {% for message in messages %}
    <p class="alert alert-{{ message.tag }}">{{message}}</p>
    {% endfor %}
    {% endif %}
  </div>
  <div>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            {% if user.profile_image %}
            {% if user.profile_image.url %}

            <img src="{{ user.profile_image.url }}" alt="Profile" class="rounded-circle">
            {% else %}
            <img src="#" alt="Profile" class="rounded-circle">
            <p>No image {{user.profile_image.url}}</p>
            {% endif %}
            {% endif %}
            <h2>{{ user.username }}</h2>
            <h3>{{user.category | upper}}</h3>
            <h3>{{user.city | upper}}, {{user.country | upper}}</h3>
            {% if user.category == 'Member' %}
            {% else %}
            <div class="social-links mt-2">
              <a href="{{user.twitter_url}}" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="{{user.facebook_url}}" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="{{user.instagram_url}}" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="{{user.linkedin_url}}" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
            {% endif %}
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Overview</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'update_profile' user=user %}">Edit Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
              </li>

            </ul>
            {% block content %}
            {% endblock %}

          </div>

        </div><!-- End Bordered Tabs -->

      </div>
    </div>

</div>
</div>
</section>


{% endblock %}