{% extends 'admin_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block section %}


<div class="pagetitle">
  
  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            {% if user.profile_image %}
            {% if user.profile_image.url %}

            <img src="{{ user.profile_image.url }}" alt="Profile" class="rounded-circle">
            {% endif %}
            {% else %}
            <img src="{% static 'assets/img/avator.jpeg' %}" alt="default Profile image" class="rounded-circle">
            {% endif %}

            {% if user.creatorprofile %}
            <h2>{{ user.creatorprofile.patron_title }}</h2>
            <h3>{{user.patronprofile.creator_category }}</h3>
            <div class="social-links mt-2">
              <a href="{{user.creatorprofile.twitter_url}}" class="twitter" target="_blank"><i
                  class="bi bi-twitter"></i></a>
              <a href="{{user.creatorprofile.facebook_url}}" class="facebook" target="_blank"><i
                  class="bi bi-facebook"></i></a>
              <a href="{{user.creatorprofile.instagram_url}}" class="instagram" target="_blank"><i
                  class="bi bi-instagram"></i></a>
              <a href="{{user.creatorprofile.linkedin_url}}" class="linkedin" target="_blank"><i
                  class="bi bi-linkedin"></i></a>
            </div>
            {% else %}
            <h2>{{ user.username }}</h2>
            <h3>Member</h3>
            <h3>{{user.patronprofile.city | upper}}</h3>
            {% endif %}
          </div>
        </div>

      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Overview</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'update_profile' user=user %}">Edit Patron Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'update_personal_info' user=user %}">Edit Personal Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
              </li>

            </ul>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

</div>
</div>
</section>


{% endblock %}