{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <title>{% block title %} {% endblock %}</title>
  <link href="{% static 'assets/img/logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evSXBKlOz+zmr2T7+qmWpIej0zWwmoQhCoqVLxHfhgjQvBPIaOUtWznreUT2ONu" crossorigin="anonymous">
  <style>
    body {
      background-color: black;
      /* Set a light background for the page */
    }

    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .card {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 30px;
      border: 2px solid black;
      height: 200px;
      background-color: springgreen;
    }
  </style>
</head>

<body>
    {% block main %}
    {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Ogwbqwo1NLLwfRuxa6UhRgfh4zH4IK3UvOXHzFU81T6b/H0tT4MVwOsD2zW8Y9H" crossorigin="anonymous"></script>
</body>

</html>