{% load custom_filters %}
<div class="media-items-preview">
    <ul class="media-list-preview">
        {% for file in media %}
        <li class="media-item-preview">
            <div class="media-player-preview">
                {% if file.content_type == 'video/mp4' %}
                <video width="220" height="140" controls="">
                    <source src="{{ file.filename | get_file_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% elif file.content_type == 'audio/mpeg' %}
                <audio controls>
                    <source src="{{ file.filename | get_file_url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}

                <div class="media-texts-preview">
                    <p class="media-f-d-preview">{{file.short_description}}</p>
                </div>

                <div class="action-btns-preview">
                    <a href="{% url 'file_manager:media_play' file.filename %}" class="edit-btn">Open</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>