<!DOCTYPE html>
<html>
<head>
    <title>List of Uploaded Audio Files</title>
</head>
<body>
    {% if uploads %}
    <h1>Uploaded Files</h1>
    <table>
        <thead>
            <tr>
                <th>Filename</th>
                <th>Upload Date</th>
                <th>File Type</th>
                <th>Download Link</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
            <tr>
                <td>{{ upload.filename }}</td>
                <td>{{ upload.upload_date }}</td>
                <td>{{ upload.content_type }}</td>
                <td><a href=""> Open</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>No files found</h1>
    <a href="{% url 'file_manager:video_upload' %}">Upload video</a>
    <a href="{% url 'file_manager:audio_upload' %}">Upload audio</a>
    {% endif %}
</body>
</html>
