{% extends 'layout_admin.html' %}
{% block title %} All {{ m_type }} Files {% endblock title %}
{% load static %}
{% load custom_filters %}

{% block extrastylesheets %}
<link href="{% static 'file_manager/css/style.css' %}" rel="stylesheet">
{% endblock extrastylesheets %}
{% block section %}
<div class="media-container">
    {% if request.user.creatorprofile %}
    <h1>All {{request.user }} {{ m_type }} Files</h1>
    {% elif request.user.is_staff %}
    <h1>All {{ m_type }} Files</h1>
    {% endif %}
    {% if media %}
    <ul class="media-list">
        {% for file in media %}
        <li class="media-item">
            <div class="media-player">
                {% if file.content_type == 'video/mp4' %}
                <video width="320" height="240" controls="controls">
                    <source src="{{ file.filename | get_file_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% elif file.content_type == 'audio/mpeg' %}
                <audio controls>
                    <source src="{{ file.filename | get_file_url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}
                
                <div class="media-texts">
                    <h4 class="owner">{{file.owner}}</h4>
                    <p class="upload-date">{{file.upload_date}}</p>
                    <h2 class="media-f-n">{{file.short_description}}</h2>
                    <p class="media-f-d">{{file.long_description}}</p>
                </div>
                
                <div class="action-btns">
                    {% if request.user == file.owner  and request.user.creatorprofile %}
                    <a href="{% url 'file_manager:media_edit' filename=file.filename %}" class="edit-btn">Settings</a>
                    {% elif request.user.is_staff %}
                    <a href="{% url 'file_manager:media_edit' filename=file.filename %}" class="edit-btn">Settings</a>
                    <a href="#"> Disable</a>
                    <a href="#"> Delete</a>
                    {% endif %}
                </div>

            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No {{ m_type }} files found.</p>
    {% if request.user.creatorprofile %}
    <a href="{% url 'file_manager:media_upload' %}">Create</a>
    {% endif %}
    {% endif %}
</div>
{% endblock section %}