{% load custom_filters %}
<form method="post" class="">
    {% csrf_token %}
    <div class="form-group">
        {% include "reusables/_checkout.html" %}
        <div class="modal-border donation-container">
            {{ form.wallet_type|add_class:"wallet_type" }}

            {{ form.payer_account_number.label_tag }}
            {{ form.payer_account_number }}

            {{ form.description.label_tag }}
            {{ form.description }}

            {{ form.payee }}
            {{ form.payer }}
        </div>
    </div>
    <div class="actions">
        <button id="support" type="submit" class="continue-btn">Continue</button>
    </div>
</form>