{% extends 'layout_dark.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load patron_tags %}
{% load custom_filters %}
{% block title %} {{creator.patron_title}} {% endblock %}

{% block extrastylesheets %}
<link href="{% static 'file_manager/css/style.css' %}" rel="stylesheet">
{% if not user.is_authenticated %}
<link href="{% static 'assets/css/header.css' %}" rel="stylesheet">
{% endif %}
{% endblock extrastylesheets %}

{% block section %}
{% include 'lipila/modals/loader.html' %}
{% include 'reusables/_modal.html' %}
{% include "lipila/modals/_confirmation_payment.html" %}
{% include "reusables/_header_frontend.html" %}
<div id="creator-container-home" class="creator-container-home">
    <div class="creator-profile column-ctr">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="user-image">
                <button class="btn btn-secondary">
                    {% if creator.profile_image %}
                    {% if creator.profile_image.url %}
                    <img src="{{ creator.profile_image.url }}" height="100" width="100">
                    {% endif %}
                    {% else %}
                    <img src="{% static 'assets/img/avator.jpeg' %}" height="100" width="100">
                    {% endif %}
                </button>
            </div>
            {% if creator.is_verified %}
            <span class="badge badge-success">Verified</span>
            {% endif %}
            <span class="category">{{creator.creator_category}}</span>
            <span class="name mt-3">@{{creator.patron_title}}</span>
            <div class="creator-footer creator-items">
                <p class="tier-url">{{ url }}</p>
                <span class="tier-url" data-url="{{ url }}">
                    <button class="copy-btn creator-items" data-clipboard-text="{{ url }}">
                        <i>Copy</i>
                    </button>
                </span>
            </div>
            {% if creator.about %}
            <div class="details"> <span>{{creator.about}} </span> </div>
            {% endif %}
            <div class="tier-content">
                {% if tiers %}
                <!--  Section Title -->
                {% endif %}
                {% for tier in tiers %}
                {% if tier.visible_to_fans %}

                <div class="tier-card">
                    <div class="tier-texts">
                        <h5 class="title">{{ tier.name }}</h5>
                        <span class="price">K{{ tier.price }}/Onetime</span>
                        <p class="description">{{ tier.description }}</p>
                    </div>
                    <div class="">
                        <form action="{% url 'checkout_momo' creator.patron_title %}" method="get">
                            {% csrf_token %}
                            <input type="hidden" name="amount" id="amount" value={{tier.price}}>
                            <input type="hidden" name="tier_name" id="tier_name" value={{creator}}>

                            <input type="hidden" value="{{creator.user}}" id="creator">
                            <input type="hidden" value="{{request.user}}" id="user">
                            <button id="support" class="btn-get-started" name="button">Support</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span>
    </div>

</div>

<div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">{{patrons}}
        <span class="follow">Patrons</span></span>
</div>
{% include 'reusables/_footer.html' %}
<!-- Scroll Top Button -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
{% endblock section %}
{% block extrascripts %}
<script>
    // Checkout js code
    document.addEventListener('DOMContentLoaded', function () {
        var supportBtn = document.querySelector('#support');

        supportBtn.addEventListener('click', function () {

            var tierId = document.querySelector("#creator").value;
            // const formData = new FormData();
            // formData.append('tier_id', tierId);  // Example form data
            // formData.append('msisdn', '123456789');  // Example form data


            var paymentData = {
                tier_id: tierId
            }

            fetch('http://192.168.0.190:8000/checkout/lpa/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Include CSRF token for Django
                },
                body: JSON.stringify(paymentData)
            })
                .then(function () {
                    console.log('success');
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    });
</script>

{%endblock extrascripts%}