{% extends 'layout_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Edit Patron {% endblock %}
{% block section %}


<div class="profile">
  <div class="user-profile-image">
    <h3 class="profile-title">Profile Image</h3>
    <div class="profile-card">
      {% if request.user.creatorprofile.profile_image %}
      {% if request.user.creatorprofile.profile_image.url %}
      <img src="{{ request.user.creatorprofile.profile_image.url }}" alt="Profile" class="rounded-circle">
      {% endif %}
      {% else %}
      <img src="{% static 'assets/img/avator.jpeg' %}" alt="default Profile image" class="rounded-circle">
      {% endif %}
    </div>
  </div>
  <div class="profile-body">
    <!-- Profile Edit Forms -->
    <form action="{% url 'patron:update_profile' user=user %}" , method="post" enctype="multipart/form-data">
      <div class="form-group">
        {% csrf_token %}
        <h3 class="profile-title">Personal Info</h3>
        {{form2 }}
        <h3 class="profile-title">Patron Info</h3>
        {{form1 }}
        <h3 class="profile-title">Payout Account Info</h3>
        {{form3}}
      </div>
      <div class="profile-save-btn">
        <button type="submit" class="m-btn m-btn-primary">Save Changes</button>
      </div>
    </form>
  </div>
  <!-- End Profile Edit Forms -->
</div>

{% endblock section %}