{% extends 'layout_base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Home{% endblock %}

{% block section %}

<main id="main">
    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">
        {% if lipila.hero_image %}

        {% if lipila.hero_image.url %}
        <img src="{{lipila.hero_image.url}}" alt="Profile" class="">
        {% endif %}
        {% else%}
        <img src="{% static 'assets/img/fans.jpg' %}" alt="hero_image" data-aos="fade-in">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h2 data-aos="fade-up" data-aos-delay="100">Luso is your online headquarters. Showcase your
                        latest work, build connections with fans through group chats, and sell your creations directly
                        through your personalized shop.
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="200" id="slogan">Luso</p>
                </div>
            </div>
            <div class="down-arrow"></div>
    </section><!-- End Hero Section -->
    <!-- Creator portfolios -->
    <section class="creators">
        <article class="creator creator-left">
            <img src="{% static 'assets/img/fans.jpg' %}" alt="Video Creator">
            <div class="content">
                <h2 id="creators-info">Video Creators</h2>
                <p>Share your creative vision with the world. Upload your videos, build a following, and monetize your
                    content through paid subscriptions and direct sales.</p>
            </div>
        </article>
        <article class="creator creator-right">
            <div class="content">
                <h2>Musicians</h2>
                <p>Reach new audiences and connect with passionate fans. Sell your music, offer exclusive content, and
                    build
                    a community around your sound.</p>
            </div>
            <img src="{% static 'assets/img/fans.jpg' %}" alt="Musician">
        </article>
        <article class="creator creator-left">
            <img src="{% static 'assets/img/fans.jpg' %}" alt="Podcaster">
            <div class="content">
                <h2>Podcasters</h2>
                <p>Share your voice and expertise. Launch your podcast, connect with listeners, and generate income
                    through
                    subscriptions and sponsorships.</p>
            </div>
        </article>
        <article class="creator creator-right">
            <div class="content">
                <h2>Artists</h2>
                <p>Showcase your artwork and connect with art lovers. Sell prints, originals, or offer exclusive content
                    to your dedicated fans.</p>
            </div>
            <img src="{% static 'assets/img/fans.jpg' %}" alt="Artist">
        </article>
    </section>
    <div class="call-to-act">
        <p>Ready to turn your creativity into recuring income? join the Lipila creator community. Sign up today!</p>
        <a class="link" href="{% url 'accounts:signup' %}">Sign Up Now</a>
    </div>

</main>
{% endblock %}