/* Fonts */
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat", sans-serif;
  --nav-font: "Lato", sans-serif;
}

/* Global Colors */
:root {
  --background-color-green: #b8f9bb;
  --background-color: #f8f9fa;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --accent-color: #062;
  --accent-color-rgb: 232, 69, 69;
  --heading-color: #32353a;
  --heading-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --nav-color: #3a3939;
  --nav-hover-color: #e84545;
  --nav-dropdown-color: #3a3939;
  --nav-dropdown-hover-color: #e84545;
  --nav-dropdown-background-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem
  }

  h2 {
    font-size: 1.25rem
  }

  h3 {
    font-size: 1.125rem
  }

  h4 {
    font-size: 1rem
  }
}


/*
  ---------------------------------
# Form Group 
 -----------------------------------
*/

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.form-group .checkbox-container {
  display: flex;
  align-items: center;
}

.form-group .checkbox-container input {
  margin-right: 10px;
}


/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}


/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background-color: rgba(var(--accent-color-rgb), 0.8);
  color: #ffffff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# T.O.U Page
--------------------------------------------------------------*/
.terms {
  padding: 20px;
}

.terms h3 {
  font-weight: 600;
}

/* Filter navigation */
#myBtnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

#myBtnContainer .filter-btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;

}

#myBtnContainer .filter-btn:hover {
  background-color: #0056b3;
}

#myBtnContainer .filter-active {
  background-color: #28a745;
}

/* Responsive Design */
@media (max-width: 768px) {
  #myBtnContainer .filter-btn {
    padding: 8px 16px;
    font-size: 14px;
    flex: 1 1 calc(50% - 10px);
    /* Two buttons per row */
  }
}

@media (max-width: 480px) {
  #myBtnContainer .filter-btn {
    padding: 6px 12px;
    font-size: 12px;
    flex: 1 1 100%;
    /* One button per row */
  }
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

/*--------------------------------------------------------------
# Section Title
--------------------------------------------------------------*/
.section-title {
  text-align: center;
}

.section-title h3 {
  font-size: 32px;
  font-weight: 700;
}

/* ********************************
* Checkout page
 ***********************************
*/
.checkout-container {
  width: 50%;
  margin: auto;
}

.checkout-txt {
  text-align: center;
}

.logo-buttons {
  text-align: center;
}

/* Basic styling for buttons and modals */
.payment-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.payment-button img {
  width: 45px;
  height: 45px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.modal-content img {
  width: 35px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-content .modal-border {
  border: 1px solid #a2a0a0;
  padding: 10px;
}

.checkout-header {
  border: 1px solid #a2a0a0;
  margin-top: 10px;
  padding: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}


.button {
  cursor: pointer;
  font-weight: 500;
  left: 3px;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  display: inline-block;
}

.button--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

.button--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}

.button--green:hover {
  background-color: #8bdda8;
  color: white;
}


/* 
 **********************************
 * Create Profile
 ***********************************
*/
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #0083FD;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box
}

.profile-container form {
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}

.profile-container p {
  color: #fff;

}

.profile-container h1 {
  margin-top: 25px;
}

/* Style for the checkbox and label */
.checkbox-label {
  /* display: flex; */
  align-items: center;
  color: red;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 0px;
  /* Adjust the spacing as needed */
}

.create-btn {
  color: rgba(var(--default-color-rgb), 0.8);
  background-color: var(--contrast-color);
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  border: 1px solid rgba(var(--default-color-rgb), 0.2);
  transition: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--heading-font);
  transition: 0.3s;
}

.create-btn:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.image img {
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.5)
}


.creator-info .title {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px
}

.text span {
  font-size: 24px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}

.date {
  background-color: #ccc
}

/* Creator homepage styles */

.creator-container {
  font-family: var(--default-font);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #1d528a;
}


.creator-container-home {
  font-family: var(--default-font);
  text-align: center;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow-x: hidden;
  margin-top: -50px;
  margin-bottom: -90px;
}

.creator-profile {
  flex-basis: calc(100% / 4);
  margin-left: 20px;
  border-radius: 0.5%;
  padding: 30px;
  overflow: hidden;
  background-color: var(--background-color);
  height: fit-content;
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {

  /* Adjust breakpoint as needed */
  .creator-container {
    flex-direction: column;
  }

  .creator-profile {
    flex-basis: calc(100% / 2);
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .creator-profile {
    flex-basis: 100%;
  }
}

#content {
  color: #565656;
  padding: 2.2em;
  border: 2px solid rebeccapurple;
}

/* Tiers */
.tiers-container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tiers-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Tier card */
.tier-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  margin: 10px auto;
}

.tier-texts {
  text-align: center;
  margin-bottom: 20px;
}

.tier-texts .title {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.tier-texts .price {
  font-size: 1.2em;
  font-weight: bold;
  color: #2c3e50;
  margin: 0.5em 0;
}

.tier-texts .description {
  font-size: 1em;
  color: #7f8c8d;
  margin: 0.5em 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tier-texts .title {
    font-size: 1.3em;
  }

  .tier-texts .price {
    font-size: 1.1em;
  }

  .tier-texts .description {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .tier-card {
    padding: 10px;
  }

  .tier-texts .title {
    font-size: 1.1em;
  }

  .tier-texts .price {
    font-size: 1em;
  }

  .tier-texts .description {
    font-size: 0.8em;
  }
}


/* creator summary */
#withdrawn-total {
  color: red;
}

#total-payments {
  color: purple
}

#totals {
  color: orange
}

.tier-url {
  display: inline-flex;
  align-items: center;
  color: #1d528a;
  font-size: 1rem;
}

.copy-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8em;
  color: #80a387;
}

.creator-items {
  display: none;
}

/* CSS for messagin link */

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgb(48, 41, 41);
  text-transform: capitalize;
  width: 100%;
  background-image: linear-gradient(60deg, #0083FD, #61A1DD);
  font-size: 1.2em;
  padding: 1em 3em;
  border-radius: 5em;
  overflow: hidden;
}

.effect.effect-4:before {
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.8em;
  transform: scale(0, 1);
}

.effect.effect-4:hover {
  text-indent: -9999px;
}

.effect.effect-4:hover:before {
  transform: scale(1, 1);
  text-indent: 0;
}


.name {
  font-size: 1.5em;
}

.about {
  font-size: 24px;
}

.category {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -25px;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.username {
  font-size: 1em;
  color: #9e9e9e;
}

.links {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
}

.c-a {
  text-decoration: none;
  color: #565656;
  transition: all 0.3s;
  font-size: 2em;
  margin-right: 1.2em;
}

.c-a:last-child {
  margin: 0;
}

.insta:hover {
  color: rgb(255, 70, 101);
  transform: scale(2, 2);
}

.git:hover {
  color: rgb(0, 0, 0);
  transform: scale(2, 2);
}

.linkedin:hover {
  color: rgba(4, 0, 253, 0.842);
  transform: scale(2, 2);
}

.facebook:hover {
  color: rgb(4, 0, 255);
  transform: scale(2, 2);
}

.details {
  padding-bottom: 0px;
  margin-bottom: 0;
}

.btn-creators {
  position: relative;
  top: 15px;
}
.user-image {
  padding: 3em 0;
  margin-bottom: -40px;
}

.user-image img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  box-shadow: 0 0.6em 1.8em;
  object-fit: cover;
}


.btn-primary {
  display: inline-block;
  color: var(--accent-color);
  font-weight: 500;
  background-color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.btn-primary:hover {
  background-color: rgba(var(--accent-color-rgb), 0.9);
}

/* Responsvie buttons */

@media screen and (max-width: 480px) {
  .btn-primary {
    font-size: 18px;
    padding: 6px 8px;
  }

  h1 {
    font-size: 32px;
    margin: 0 0 8px 0;
  }

  h2 {
    font-size: 18px;
  }
}


/* Accordion */

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

/* Filter */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  display: none;
  /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.dropdown-menu .dropdown-divider {
  color: #9d0ead;
  margin: 0;
}

/* Style the buttons */
.filter-btn {
  border: none;
  outline: none;
  padding: 6px 12px;
  background-color: white;
  cursor: pointer;
  font-weight: lighter;
}

@media (max-width: 480px) {
  .filter-btn {
    padding: 4px, 8px;
    font-size: small;
  }
}

.filter-btn:hover {
  background-color: #e2954d;
  opacity: 0.3;
}

.filter-btn.filter-active {
  background-color: #1bd6d6;
  color: black;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.6s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

#luso-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@keyframes animate-preloader-1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate-preloader-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes animate-preloader-2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}



/* Features Section
------------------------------*/
.features .features-item {
  color: rgba(var(--default-color-rgb), 0.8);
}

.features .features-item+.features-item {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .features .features-item+.features-item {
    margin-top: 40px;
  }
}

.features .features-item h3 {
  font-weight: 700;
  font-size: 26px;
}

/* Get started buttons
--------------------------- */
.btn-get-started {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.btn-get-started:hover {
  background-color: #ff5a4c;
}

/* Responsive buttons styles */
@media (max-width: 768px) {
  .btn-get-started {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }
}


.features .features-item ul {
  list-style: none;
  padding: 0;
}

.features .features-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.features .features-item ul li:last-child {
  padding-bottom: 0;
}

.features .features-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--accent-color);
}

.features .features-item img {
  border: 6px solid var(--background-color);
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.features .features-item .features-img-bg {
  position: relative;
  min-height: 500px;
}

@media (max-width: 640px) {
  .features .features-item .features-img-bg {
    min-height: 300px;
  }
}

.features .features-item .features-img-bg img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.features .features-item .image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

.features .features-item .image-stack .stack-back {
  grid-column: 4/-1;
  grid-row: 1;
  width: 100%;
  z-index: 1;
}

.features .features-item .image-stack .stack-front {
  grid-row: 1;
  grid-column: 1/span 8;
  margin-top: 20%;
  width: 100%;
  z-index: 2;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  --background-color: #f4f4f4;
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding-bottom: 50px;
}

.footer .footer-top {
  padding-top: 50px;
}

.footer .footer-about .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: var(--heading-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--default-color-rgb), 0.5);
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer h4 {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(var(--default-color-rgb), 0.8);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(var(--default-color-rgb), 0.05);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 6px;
  font-size: 13px;
}

.alert {
  padding: 20px;
  background-color: #646464;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}