{% extends 'layout_auth.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block title %} Signup {% endblock %}

{% block main %}
<div class="row">
    <div class="column">
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Create Account</h2>
            </div>
        </div>
        <form action="{% url 'signup' %}" method="post" class="">
            {% csrf_token %}
            <form method="post" class="signup-form">
                {% csrf_token %}
                {{form | crispy}}

                <!-- <input type="submit" value="Signup" onclick="signup()" class="btn btn-primary"> -->
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
            <p>Already registered: <a href="{% url 'login' %}">login</a></p>
    </div>
    <!-- <div class="column">
        <div class="image-container">
            <img src="{% static 'assets/img/guy.jpeg' %}" alt="signup-image">
        </div>
    </div> -->
</div>
{% endblock %}