{% extends 'layout_auth.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block title %} Signup {% endblock %}

{% block main %}
<div class="col-md-8">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Signup</h2>
        </div>
    </div>
    <form action="" method="post" class="">
        {% csrf_token %}
        <form method="post" class="signup-form">
            {% csrf_token %}
            <!-- username -->
            {{form.username.errors}}
            {{form.username.label_tag}}
            {{form.username|add_class:'form-control mb-1'}}

            <!-- phone_number -->
            {{form.phone_number.errors}}
            {{form.phone_number.label_tag}}
            {{form.phone_number|add_class:'form-control mb-1'}}

            <!-- password -->
            {{form.password.errors}}
            {{form.password.label_tag}}
            {{form.password|add_class:'form-control mb-1'}}

             <!-- city -->
             {{form.city.label_tag}}
             {{form.city | add_class:'form-control mb-1'}}

              <!-- business type -->
            {{form.user_category.label_tag}}
            {{form.user_category | add_class:'form-control mb-1'}}

            <input type="submit" value="Signup" onclick="signup()" class="btn btn-primary">
        </form>
        <p>Already registered: <a href="{% url 'login' %}">login</a></p>
</div>
{% endblock %}