{% extends 'layout_base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Home{% endblock %}

{% block main %}

<main id="main">

  <!-- Hero Section - Home Page -->
  <section id="hero" class="hero">
    {% if lipila.hero_image %}

    {% if lipila.hero_image.url %}
    <img src="{{lipila.hero_image.url}}" alt="Profile" class="">
    {% endif %}
    {% else%}
    <img src="{% static 'assets/img/guy.jpeg' %}" alt="hero_image" data-aos="fade-in">
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h2 data-aos="fade-up" data-aos-delay="100">{{lipila.message}}
          </h2>
          <p data-aos="fade-up" data-aos-delay="200" id="slogan">{{lipila.slogan}}</p>
          <a href="/#about" class="btn btn-primary">Readmore</a>
        </div>
      </div>

  </section><!-- End Hero Section -->

  <!-- Clients Section - Home Page -->
  <section id="clients" class="clients">

    <div class="container-fluid" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <!-- client logo goes here -->
        </div><!-- End Client Item -->

        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <!-- client logo goes here -->
        </div><!-- End Client Item -->
      </div>

    </div>

  </section><!-- End Clients Section -->

  <!-- About Section - Home Page -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-xl-center gy-5">

        <div class="col-xl-5 content">
          <h3></h3>
          <h2>{{about.title}}</h2>
          <p>{{about.body}}
            <a href="{% url 'signup' %}" class="read-more"><span>Find out how?</span><i
                class="bi bi-arrow-right"></i></a>
          </p>
        </div>

        <div class="col-xl-7">
          <div class="row gy-4 icon-boxes">

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <h3>Lipila For Creators</h3>
                <ul>
                  <li>Artists</li>
                  <li>Musicians</li>
                  <li>Video Creators</li>
                  <li>Podcasters</li>
                  <li>Writers</li>
                  <li>Fundraisers</li>
                </ul>
                <p>Get patrons to support your creativity. Receive donations, contributions and payments from your fans
                  in
                  one place and grow your work.</p>
                <a href="{% url 'signup' %}" class="read-more"><span>Learn more</span><i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <h3>Lipila For Business</h3>
                <ul>
                  <li>Schools</li>
                  <li>Independent sellers</li>
                  <li>Stores</li>
                </ul>
                <p>From independent traders to small and medium businesses simplify invoicing, payment collection and
                  data storage.
                </p>
                <a href="{% url 'signup' %}" class="read-more"><span>Learn more</span><i
                    class="bi bi-arrow-right"></i></a>
              </div>
            </div> <!-- End Icon Box -->

          </div>
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- Stats Section - Home Page -->
  <!-- <section id="stats" class="stats"> -->

  <!-- </section> -->

  <!-- Services Section - Home Page -->
  <!-- End Services Section -->

  <!-- Features Section - Home Page -->
  <section id="features" class="features">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Features</h2>
      <p>These features help you financially</p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row gy-4 align-items-center features-item">
        <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h3>Creator Profile Creation</h3>
          <p>
            Create your FREE profile, share exclusive content with your patrons. Set your funding tiers
            for your patrons.
          </p>
          <a href="{% url 'creators:signup' %}" class="btn btn-get-started">Get Started</a>
        </div>
      </div><!-- Features Item -->
      <div class="row gy-4 align-items-stretch justify-content-between features-item ">
        <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
          <h3>Patronage System</h3>
          <p>Browse through different creators' profiles, explore their content, and choose to pledge financial support
            through various tiers or one-time contributions.</p>
          <a href="{% url 'creators' %}" class="btn btn-get-started align-self-start">Get Started</a>
        </div>
      </div><!-- Features Item -->

    </div>

  </section><!-- End Features Section -->


  <!-- Pricing Section - Home Page -->
  <section id="pricing" class="pricing">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Pricing</h2>
      <p>Creating a Lipila Creator account is FREE</p>
      <a href="{% url 'signup' %}" class="read-more"><span>Get Started</span><i
        class="bi bi-arrow-right"></i></a>
    </div>
    <!-- End Section Title -->

    <!-- <div class="container" data-aos="fade-in" data-aos-delay="100">

      <div class="row g-4">

        <div class="col-lg-4">
          <div class="pricing-item">
            <h3>School Plan</h3>
            <div class="icon">
              <i class="bi bi-box"></i>
            </div>
            <h4><sup>K</sup>100<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> <span>Receive Payments</span></li>
              <li><i class="bi bi-check"></i> <span>Invoice Clients</span></li>
              <li><i class="bi bi-check"></i> <span>Payment Processing(4 hours)</span></li>
              <li><i class="bi bi-check"></i> <span>Buy Now Pay Later(5 clients/week)</span></li>
              <li><i class="bi bi-check"></i> <span>24/7 Support</span></li>
            </ul>
            <div class="text-center"><a href="#" class="buy-btn">Coming Soon</a></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="pricing-item featured">
            <h3>Free Plan</h3>
            <div class="icon">
              <i class="bi bi-rocket"></i>
            </div>

            <h4><sup>K</sup>0<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> <span>Receive Payments</span></li>
              <li><i class="bi bi-check"></i> <span>Invoice Clients</span></li>
              <li><i class="bi bi-check"></i> <span>Payment Processing(24 hours)</span></li>
              <li class="na"><i class="bi bi-check"></i> <span>Buy Now Pay Later</span></li>
              <li><i class="bi bi-check"></i> <span>24/7 Support</span></li>
            </ul>
            <div class="text-center"><a href="{% url 'login' %}" class="buy-btn">Get Started</a></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="pricing-item">
            <h3>Pro Plan</h3>
            <div class="icon">
              <i class="bi bi-send"></i>
            </div>
            <h4><sup>K</sup>300<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> <span>Receive Payments</span></li>
              <li><i class="bi bi-check"></i> <span>Invoice Clients</span></li>
              <li><i class="bi bi-check"></i> <span>Payment Processing(Instant)</span></li>
              <li><i class="bi bi-check"></i> <span>Buy Now Pay Later(10 clients/week)</span></li>
              <li><i class="bi bi-check"></i> <span>24/7 Support</span></li>
            </ul>
            <div class="text-center"><a href="#" class="buy-btn">Coming Soon</a></div>
          </div>
        </div>

      </div>

    </div> -->

  </section>
  <!-- End Pricing Section -->


  <!-- Contact Section - Home Page -->
  <section id="contact" class="contact">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact Us</h2>
      <p>{{headline}}</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>{{contact.street}}</p>
                <p>{{contact.location}}</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>{{contact.phone1}}</p>
                <p>{{contact.phone2}}</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>{{contact.email1}}</p>
                <p>{{contact.email2}}</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>{{contact.days}}</p>
                <p>{{contact.hours}}</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <div class="col-lg-6">
          <form action="{% url 'contact' %}" method="post" class="php-email-form" data-aos="fade-up"
            data-aos-delay="200">
            {% csrf_token %}
            <div class="row gy-4">

              <div class="col-md-6">
                {{form.name}}
              </div>

              <div class="col-md-6 ">
                {{form.email}}
              </div>
              <div class="col-md-6 ">
                {{form.number}}
              </div>

              <div class="col-md-12">
                {{form.subject}}
              </div>

              <div class="col-md-12">
                {{form.message}}
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- End Contact Section -->

</main>
{% endblock %}