{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} Contributions {% endblock %}

{% block section %}
<h4> Contributions </h4>
{% if contributions %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Patron</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for contribution in contributions %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ contribution.amount }}</td>
            <td>{{ contribution.timestamp }}</td>
            <td>{{ contribution.payer }}</td>
            <td>{{ contribution.description }}</td>
            <td>{{ contribution.status |upper }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>You have not received any contributions yet.</p>
{% endif %}
{% endblock %}