{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} History {% endblock %}

{% block section %}
<h4>Transaction History</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Transaction Type</th>
                    <th>Account Number</th>
                    <th>Status</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {% for item in history %}
                <tr>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.transaction_date }}</td>
                    <td>{{ item.transaction_type }}</td>
                    <td>{{ item.account_number }}</td>
                    <td>{{ item.status |upper }}</td>
                    <td>{{ item.reason |upper }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}