{% extends 'layout_admin.html' %}
{% load static %}
{% block title %}My Patrons {% endblock %}

{% block main %}

<section class="patrons-body">
    <div class="patrons-container">
        <h2>My Patrons</h2>

        {% for patron in patrons %}
        <div class="patron">
            <div class="username">{{patron.name}}</div>
            <div class="city">{{patron.city}}</div>
            <div class="subscription-type">{{patron.subscription}}</div>
            <div class="total-contributions">K{{patron.contributions}}</div>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}