{% extends 'admin_layout.html' %}
{% load static %}
{% block title %}My Patrons {% endblock %}

{% block section %}

<section class="patrons-body">
    <div class="patrons-container">
        <h2>My Patrons</h2>
        <ol>
            {% for patron in patrons %}
            <div class="patron">
                <li>
                    <div class="username">{{patron.username}}</div>
                </li>
            </div>
            {% endfor %}
        </ol>
    </div>

</section>

{% endblock %}