{% extends 'layout_admin.html' %}
{% load static %}
{% block title %} Payment History {% endblock %}

{% block section %}
<h3>Transaction History</h3>
{% if contributions %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Contributed to</th>
            <th>Wallet Type</th>
            <th>Account</th>
            <th>Status</th>
            <th>Reference_id</th>
        </tr>
    </thead>
    <tbody>
        {% for contribution in contributions %}
        <tr>
            <td data-label="#">{{ forloop.counter }}</td>
            <td data-label="amount">{{ contribution.amount }}</td>
            <td data-label="date">{{ contribution.timestamp }}</td>
            <td data-label="receiver">{{ contribution.payee }}</td>
            <td data-label="wallet type">{{ contribution.wallet_type }}</td>
            <td data-label="account number">{{ contribution.payer_account_number }}</td>
            <td data-label="status">{{ contribution.status |upper }}</td>
            <td data-label="ref">{{ contribution.reference_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have not yet sent support a creator</p>
<div class="patrons-container">
    <a class="btn btn-primary" href="{% url 'patron:creators' %}?fragment={{ target_fragment }}">Browse creators</a>
</div>
{% endif %}
{% endblock section %}