{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} Subscriptions {% endblock %}

{% block section %}
{% if subscriptions %}
<h2>My Subscriptions</h2>
<div class="patrons-container">
    {% for sub in subscriptions %}
    <p>Creator: {{sub.tier.creator}}</p>
    <p>Patron name: {{sub.tier.name}}</p>
    <P>Price: {{sub.tier.price}}</P>
    <p class="">
        <a href="{% url 'patron:subscription_detail' tier_id=sub.tier.id %}">View</a>
    </p>
    {% endfor %}
</div>
{% else %}
<h3>You have no subscriptions.</h3>
<div class="patrons-container">
    <a href="{% url 'patron:creators' %}?fragment={{ target_fragment }}">Find a Creator</a>
</div>

{% endif %}

{% endblock %}