{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} Tiers {% endblock %}

{% block section %}

{% include "_modal.html" %}

<section class="">
    <div class="tiers-container">
        <h2>My Tiers</h2>
    </div>
    {% include '_tiers_table.html' %}
</section>
{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">
    // Update tier asynchronous button
    // message
    var asyncSuccessMessageUpdate = [
        "<div ",
        "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
        "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
        "Success: Tier was updated.",
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
        "<span aria-hidden='true'>&times;</span>",
        "</button>",
        "</div>",
        "<script>",
        "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
        "<\/script>"
    ].join("");

    // modal form
    function updateTierModalForm() {
        $(".update-tier").each(function () {
            $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                    closeOnSubmit: false,
                    successMessage: asyncSuccessMessageUpdate,
                    dataUrl: "tiers/",
                    dataElementId: "#tier-table",
                    dataKey: "table",
                    addModalFormFunction: reinstantiateModalForms
                }
            });
        });
    }
    updateTierModalForm();

    // Delete tier buttons - formURL is retrieved from the data of the element
    function deleteTierModalForm() {
        $(".delete-tier").each(function () {
            $(this).modalForm({ formURL: $(this).data("form-url"), isDeleteForm: true });
        });
    }
    deleteTierModalForm();

    // Read tier buttons
    function readTierModalForm() {
        $(".read-tier").each(function () {
            $(this).modalForm({ formURL: $(this).data("form-url") });
        });
    }
    readTierModalForm();

    function reinstantiateModalForms() {
        readTierModalForm();
        updateTierModalForm();
        deleteTierModalForm();
    }

    // Hide message
    $(".alert").fadeTo(2000, 500).slideUp(500, function () {
        $(".alert").slideUp(500);
    });
</script>
{%endblock extrascripts%}