{% extends 'layout_admin.html' %}
{% load static %}
{% block title %} Subscription detail {% endblock %}

{% block section %}
<h2>Subscription Details</h2>
{% include 'reusables/_modal.html' %}
{% include 'reusables/_tier_details.html' %}
{% include "lipila/modals/_confirmation_payment.html" %}
{% include 'lipila/modals/loader.html' %}

{% endblock section %}
{% block extrascripts %}
<script>
    document.getElementById("subscribe-btn").addEventListener("click", function () {
        const url = this.getAttribute("data-url");
        window.location.href = url;
    });

    document.getElementById("unsubscribe-btn").addEventListener("click", function () {
        const url = this.getAttribute("data-url");
        window.location.href = url;
    });

</script>
{%endblock extrascripts%}