{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} Tiers {% endblock %}

{% block section %}
<section class="admin-other-body">
    <div class="tiers-container">
        <h2>{{user.creatorprofile.patron_title}}'s Tiers</h2>
        {% for tier in tiers %}
        <div class="tier">
            <div>
                <h3>{{tier.name}}</h3>
                <p>{{tier.description}}</p>
            </div>
            <div class="price">{{tier.price}}</div>
            {% if tier.visible_to_fans %}
            <p>Visible to Fans: Yes </p>
            {% else %}
            <p>Visible to Fans: No </p>
            {% endif %}
            <div class="edit-button-container">
                <a class="edit-button" href="{% url 'patron:edit_tier' tier_id=tier.id %}">Edit</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}