{% extends 'layout_admin.html' %}
{% load static %}
{% block title %}My Patrons {% endblock %}

{% block section %}

<h4>My Patrons</h4>
{% if patrons %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>username</th>
            <th>Subscription</th>
            <th>Contributions</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for patron in patrons %}
        <tr>
            <td data-label="#">{{ forloop.counter }}</td>
            <td data-label="Username">{{ patron.username }}</td>
            <td data-label="Subscrition">{{ patron.subscriptions }}</td>
            <td data-label="email">{{ patron.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>You do not have any patrons yet.</p>
{% endif %}
{% endblock section %}