{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} Subscription detail {% endblock %}

{% block section %}
<h2>Subscription Details</h2>
{% include '_modal.html' %}
{% include '_tier_details.html' %}

{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">

    $(function () {
        function PayTierModalForm() {
            var allowSubmit = true;
           
            if (allowSubmit) {

                $("#send-money").modalForm({
                    formURL: "{% url 'send_money_id' type='subscription' id=subscription.tier.id %}",
                    modalID: "#create-modal"
                });

                var amount = $('#amount').val();
                var tier_name = $('#tier_name').val();
                
                $('#create-modal').on('show.bs.modal', function (event) {
                    $(this).find('.modal-price-title').text(`Pay subscription to: ${tier_name}`);
                    $(this).find('.modal-price').text(`K${amount}`);
                });
                allowSubmit = false;
            } else
                console.log(allowSubmit);
            return false;
        }
        console.log('calling function...');
        PayTierModalForm();

        // Delete tier buttons - formURL is retrieved from the data of the element
        $("#delete-subscription").modalForm({
            formURL: "{% url 'unsubscribe' tier_id=subscription.tier.id %}"
        });
        var tier_name = $('#tier_name').val()
        $('#modal').on('show.bs.modal', function (event) {
            $(this).find('.delete-text').text(`Are you sure you want to unsubscribe from ${tier_name}?`);
        });

        function reinstantiateModalForms() {
            PayTierModalForm();
        }
    })
</script>
{%endblock extrascripts%}