{% extends 'admin_layout.html' %}
{% load static %}
{% block title %} Subscription detail {% endblock %}

{% block section %}
{% include '_modal.html' %}

<h2>Subscription Details</h2>
{% include '_modal.html' %}
{% include '_tier_details.html' %}

{% endblock section %}
{% block extrascripts %}
<script type="text/javascript">

    $(function () {
        // Pay to tier buttons 
        // Login
        $("#send-money").modalForm({
            formURL: "{% url 'send_money_id' type='subscription' id=subscription.tier.id %}"
        });

        // Delete tier buttons - formURL is retrieved from the data of the element
        $("#delete-subscription").modalForm({
            formURL: "{% url 'unsubscribe' tier_id=subscription.tier.id %}"
        });
    })
</script>
{%endblock extrascripts%}