{% extends 'layout_admin.html' %}
{% load static %}
{% block title %}History {% endblock %}

{% block section %}
<h4>Withdrawal History</h4>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Transaction Type</th>
            <th>Account Number</th>
            <th>Status</th>
            <th>Reference ID</th>
        </tr>
    </thead>
    <tbody>
        {% for item in history %}
        <tr>
            <td data-label="#">{{ forloop.counter }}</td>
            <td data-label="amount">{{ item.amount }}</td>
            <td data-label="date">{{ item.transaction_date }}</td>
            <td data-label="Type">{{ item.transaction_type }}</td>
            <td data-label="Account number">{{ item.account_number }}</td>
            <td data-label="Status">{{ item.status |upper }}</td>
            <td data-label="Ref">{{ item.reference_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock section %}