{% extends 'layout_admin.html' %}
{% load static %}
{% block title %}History {% endblock %}

{% block section %}
<h4>Withdrawal History</h4>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Transaction Type</th>
            <th>Account Number</th>
            <th>Status</th>
            <th>Reference ID</th>
            <th>Initiated By</th>
        </tr>
    </thead>
    <tbody>
        {% for item in history %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.transaction_date }}</td>
            <td>{{ item.transaction_type }}</td>
            <td>{{ item.account_number }}</td>
            <td>{{ item.status |upper }}</td>
            <td>{{ item.reference_id }}</td>
            <tb></tb>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock section %}