{% extends 'layout_auth.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} Login {% endblock %}

{% block main %}
<div class="col-md-8">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Login</h2>
        </div>
    </div>
    <form action="" method="post" class="">
        {% csrf_token %}
        <form method="post" class="signup-form">
            {% csrf_token %}
            <!-- username -->
            {{form.username.errors}}
            {{form.username.label_tag}}
            {{form.username|add_class:'form-control mb-3'}}

            <!-- password 1 -->
            {{form.password.errors}}
            {{form.password.label_tag}}
            {{form.password|add_class:'form-control mb-3'}}

            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <p>Create Account <a href="/signup">signup</a></p>
        <p><a href="#">Forgot Password</a></p>
</div>
{% endblock %}