{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    {% if messages %}
    <div class="messages">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>

    </div>
    {% endif %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="breadcrumbs" data-aos="fade-in">
                    <div class="container">
                        <h2>Signup</h2>
                    </div>
                </div>
                <form action="" method="post" class="">
                    {% csrf_token %}
                    <form method="post" class="signup-form">
                        {% csrf_token %}
                        <!-- username -->
                        {{form.username.errors}}
                        {{form.username.label_tag}}
                        {{form.username|add_class:'form-control mb-3'}}
                        
                        <!-- phone_number -->
                        {{form.phone_number.errors}}
                        {{form.phone_number.label_tag}}
                        {{form.phone_number|add_class:'form-control mb-3'}}
                        
                        <!-- password 1 -->
                        {{form.password.errors}}
                        {{form.password.label_tag}}
                        {{form.password|add_class:'form-control mb-3'}}
                        
                        <input type="submit" value="Signup" class="btn btn-primary">
                    </form>
                    <p>Already registered <a href="/login">login</a></p>
            </div>
        </div>
    </div>
</body>

</html>