{% extends 'layout_admin.html' %}
{% load static %}
{% load custom_filters %}
{% block title %} Processed Withdrawals {% endblock %}

{% block section %}
<h2>Processed Withdrawals</h2>
{% if processed_withdrawals %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Creator</th>
                <th>Amount Requested</th>
                <th>Status</th>
                <th>Request Date</th>
                <th>Processed Date</th>
                <th>Reference ID</th>
            </tr>
        </thead>
        <tbody>
            {% for drawl in processed_withdrawals %}
            <tr>
                <td data-label="#">{{ forloop.counter }}</td>
                <td data-label="Creator">{{ drawl.creator }}</td>
                <td data-label="Amount">{{ drawl.amount }}</td>
                <td data-label="Status">{{ drawl.status }}</td>
                <td data-label="R. Date">{{ drawl.request_date }}</td>
                <td data-label="P. Date">{{ drawl.processed_date }}</td>
                <td data-label="Id">{{ drawl.reference_id }}</td>
                <td>
                    <a href="#">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You don't have any Processed withdrawals at this time.</p>
{% endif %}

{% endblock %}