{% load static %}
<div class="creator-container">
    <div class="creator-profile">
        <div class="user-image">
            {% if subscription.profile_image %}
            {% if subscription.profile_image.url %}
            <img src="{{subscription.profile_image.url}}" alt="profile image" class="img-fluid">
            {% endif %}
            {% else %}
            <img src="{% static 'assets/img/avator.jpeg' %}" alt="profile image" class="img-fluid">
            {% endif %}
        </div>
        <div class="content">
            <input type="hidden" name="amount" id="amount" value={{subscription.tier.price}}>
            <input type="hidden" name="tier_name" id="tier_name" value={{subscription.tier.name}}>
            <h3 class="name">{{subscription.tier.name}}</h3>
            <p class="username">@{{subscription.tier.creator}}</p>
            <p class="username">K{{subscription.tier.price}}</p>
            <p class="details">
                {{subscription.tier.description}}
            </p>
            <div class="links">
                <a class="facebook c-a" href="{{subscription.tier.facebook_url}}" target="{{subscription.tier.name}}_blank" title="{{subscription.tier.name}}_facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="linkedin c-a" href="{{subscription.linkedin_url}}" title="{{subscription.tier.name}}_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="insta c-a" href="{{subscription.instagram_url}}" target="_blank" title="{{subscription.tier.name}}_instagram">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </div>
            <p class="details">
                {{subscription.tier.about}}
            </p>
            
            <div class="row">
                {% if subscription.tier.id %}
                <button id="subscribe-btn" data-url="{% url 'checkout_subscription' subscription.tier.id %}" class="m-btn btn-sm m-btn-primary"
                    type="submit" name="button">Pay</button>

                <button data-url="{% url 'unsubscribe' subscription.tier.id %}" id="unsubscribe-btn" class="m-btn btn-sm btn-danger" type="button"
                    name="button">Unsubscribe</button>
                {% endif %}
                <div class="d-flex justify-content-center">
                    <div class="col-12 mb-3">
                    </div>
                    <div class="col-12 mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- This is link of adding small images
		which are used in the link section -->
<script src="https://kit.fontawesome.com/704ff50790.js" crossorigin="anonymous">
</script>