{% extends 'layout_base.html' %}
{% load static %}
{% block title %} Creators on Luso {% endblock title %}
{% block extrastylesheets %}
<style>
    .p-section {
        position: relative;
        width: 100%;
        height: 100vh;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin-bottom: 50px;
    }

    .p-section-content {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;
        border-radius: 10px;
        max-width: 800px;
    }

    .p-section h2 {
        font-size: 3em;
        margin-bottom: 20px;
        color: antiquewhite;
    }

    .p-section p {
        font-size: 1.2em;
        line-height: 1.6;
    }

    .musicians {
        background-image: url('/static/assets/img/posters/musician.jpeg');
    }

    .visual-artists {
        background-image: url('/static/assets/img/posters/artist.jpeg');
    }

    .writers-poets {
        background-image: url('/static/assets/img/posters/writer.jpeg');
    }

    .filmmakers-videographers {
        background-image: url('/static/assets/img/posters/photographer.jpeg');
    }

    .photographers {
        background-image: url('/static/assets/img/posters/photographer0.jpeg');
    }

    .craft-makers-designers {
        background-image: url('/static/assets/img/posters/craft.jpeg');
    }

    @media (min-width: 1200px) {
        .section {
            background-position: top center;
            /* Prevents image from being cut off at the top */
        }
    }

    @media (max-width: 768px) {
        .p-section h2 {
            font-size: 2em;
        }

        .p-section p {
            font-size: 1em;
        }

        .p-section-content {
            padding: 20px;
        }
    }
</style>
{% endblock extrastylesheets %}
{% block section %}

<div class="creators-info">
    <div id="visual-artists" class="p-section visual-artists">
        <div class="p-section-content">
            <h2>Visual Creators</h2>
            <p>
                For painters, illustrators, photographers, and other visual artists, Luso offers a platform to share
                your creative journey. Whether you're offering exclusive prints, behind-the-scenes insights, or creative
                tutorials, your supporters can help fund your projects, exhibitions, and materials, enabling you to keep
                creating and innovating.
            </p>
            {% include "reusables/_get_started_free.html" %}
        </div>
    </div>

    <div id="craft-makers-designers" class="p-section craft-makers-designers">
        <div class="p-section-content">
            <h2>Craft Makers & Designers</h2>
            <p>
                From craft makers to fashion designers, Luso allows you to showcase your handmade and designed
                creations. Offer custom pieces, limited editions, or tutorials, while your patrons provide support for
                materials, studio space, or new projects, helping you grow your brand and creative business.
            </p>
            {% include "reusables/_get_started_free.html" %}
        </div>
    </div>

    <div id="musicians" class="p-section musicians">
        <div class="p-section-content">
            <h2>Musicians & Performers</h2>
            <p>
                Luso helps musicians, actors, and other performers connect with their audience. You can offer exclusive
                content, early access to releases, or personalized experiences. This funding can go toward recording,
                performances, or creative development, allowing you to focus on your artistry.
            </p>
            {% include "reusables/_get_started_free.html" %}
        </div>
    </div>


    <div id="writers-poets" class="p-section writers-poets">
        <div class="p-section-content">
            <h2>Writers & Storytellers</h2>
            <p>
                Authors, poets, scriptwriters, and other storytellers can offer supporters early access to chapters,
                exclusive writings, or personalized works. Your fans can support your writing journey, helping cover
                publishing costs or dedicating more time to your craft, building a loyal readership in the process.
            </p>
            {% include "reusables/_get_started_free.html" %}
        </div>
    </div>

    <div id="filmmakers-videographers" class="p-section filmmakers-videographers">
        <div class="p-section-content">
            <h2>Filmmakers & Content Creators</h2>
            <p>
                Whether you're a filmmaker, videographer, or online content creator, Luso enables your audience to
                support your next big project. Offer early screenings, exclusive behind-the-scenes content, or credits
                in your productions, giving fans a personal connection to your work while helping fund equipment and
                production costs.
            </p>
            {% include "reusables/_get_started_free.html" %}
        </div>
    </div>


    <div id="photographers" class="p-section photographers">
        <div class="p-section-content">
            <h2>Creative Educators & Mentors</h2>
            <p>
                If you're a creator who enjoys teaching or mentoring others, Luso provides a space to share your
                expertise. Offer workshops, tutorials, or one-on-one mentoring, while your supporters help finance your
                educational journey, materials, or new ventures.
            </p>
            {% include "reusables/_get_started_free.html" %}
        </div>
    </div>
</div>

{% endblock section %}