{% load static %}

<li class="nav-item">
    <a class="nav-link " href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
    </a>
</li>

<li class="nav-item">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle edit-btn" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Upload
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'file_manager:media_upload' %}">Video</a>
            <hr class="dropdown-divider">

            <a class="dropdown-item" href="{% url 'file_manager:media_upload' %}">Audio</a>
        </div>
    </div>
    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Actions </span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'patron:withdraw_request' %}">
                <i class="bi bi-circle"></i><span>Cashout</span>
            </a>
        </li>
        <li>
            <a href="{% url 'patron:tiers' %}">
                <i class="bi bi-circle"></i><span>Tiers</span>
            </a>
        </li>
        <li>
            <a href="{% url 'patron:kyc' %}">
                <i class="bi bi-circle"></i><span>KYC</span>
                {% if request.user.creatorprofile.is_verified %}
                <span class="badge badge-success">Verified</span>
                {% endif %}
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
        <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">

        </ul>
        <li>
            <a href="{% url 'patron:patrons' %}">
                <i class="bi bi-circle"></i><span>Patrons</span>
            </a>
        </li>
        <li>
            <a href="{% url 'withdrawals_history' %}">
                <i class="bi bi-circle"></i><span>Payouts</span>
            </a>
        </li>
        <li>
            <a href="{% url 'subscriptions_history' %}">
                <i class="bi bi-circle"></i><span>Receipts</span>
            </a>
        </li>
        <li>
            <a href="{% url 'file_manager:user_media_all' m_type='Video' %}">
                <i class="bi bi-circle"></i><span>Videos</span>
            </a>
        </li>
        <li>
            <a href="{% url 'file_manager:user_media_all' m_type='Audio' %}">
                <i class="bi bi-circle"></i><span>Audio</span>
            </a>
        </li>
    </ul>
</li>