{% load static %}
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
        /* Optional: Adjust button spacing */
    }

    .button {
        flex: 1;
        max-width: max-content;
        background-color: #20ae91;
        /* Green */
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard' user=user %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        {% if request.user.creatorprofile %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Actions </span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'patron:withdraw_request' %}">
                        <i class="bi bi-circle"></i><span>Withdraw</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'patron:tiers' %}">
                            <i class="bi bi-circle"></i><span>My Tiers</span>
                        </a>
                    </li>
                </ul>
                <li>
                    <a href="{% url 'patron:patrons' %}">
                        <i class="bi bi-circle"></i><span>My Patrons</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'patron:withdrawals_history' %}">
                        <i class="bi bi-circle"></i><span>My Withdrawals</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'patron:subscriptions_history' %}">
                        <i class="bi bi-circle"></i><span>Subscriptions Received</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'patron:contributions_history' %}">
                        <i class="bi bi-circle"></i><span>Contributions Received</span>
                    </a>
                </li>
            </ul>
        </li>
        {% elif request.user.is_staff %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Actions </span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'approve_withdrawals' %}">
                        <i class="bi bi-circle"></i><span>Withdrawal Requests</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'processed_withdrawals' %}">
                        <i class="bi bi-circle"></i><span>Withdrawals Processed</span>
                    </a>
                </li>
            </ul>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Actions </span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
                <li>
                    {% with target_fragment='#find-creator' %}
                <li><a href="{% url 'patron:creators' %}?fragment={{ target_fragment }}">Find a Creator</a></li>
                {% endwith %}
        </li>
    </ul>
    </li><!-- End Forms Nav -->
    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
            <li>
                <a href="{% url 'patron:subscriptions' %}">
                    <i class="bi bi-circle"></i><span>My Subscriptions</span>
                </a>
            </li>
            <li>
                <a href="{% url 'patron:subscriptions_history' %}">
                    <i class="bi bi-circle"></i><span>My Payments</span>
                </a>
            </li>
            <li>
                <a href="{% url 'patron:contributions_history' %}">
                    <i class="bi bi-circle"></i><span>My Contributions</span>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}

    <li class="nav-heading">Pages</li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'patron:profile' %}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'faq' %}">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
            <i class="bi bi-envelope"></i>
            <span>Contact Us</span>
        </a>
    </li><!-- End Contact Page Nav -->
    {% if user.is_authenticated %}
    <li class="nav-item">
        <i class="bi bi-logout"></i>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <span><button type="submit" class="btn btn-dark">Logout</button></span>
        </form>
    </li><!-- End Contact Page Nav -->
    {% endif %}
    </ul>
</aside><!-- End Sidebar-->
