{% load static %}
<li class="nav-item">
    <a class="nav-link " href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Actions </span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="forms-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'approve_withdrawals' %}">
                <i class="bi bi-circle"></i><span>Withdrawal Requests</span>
            </a>
        </li>
        <li>
            <a href="{% url 'transfer' %}">
                <i class="bi bi-circle"></i><span>Transfer</span>
            </a>
        </li>
        <li>
            <a href="{% url 'file_manager:media_upload' %}">
                <i class="bi bi-circle"></i><span>Upload</span>
            </a>
        </li>
    </ul>
</li><!-- End Forms Nav -->
<li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Log</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="tables-nav" class="nav-content collapsed " data-bs-parent="#sidebar-nav">
        <li>
            <a href="{% url 'processed_withdrawals' %}">
                <i class="bi bi-circle"></i><span>Withdrawals Processed</span>
            </a>
        </li>
        <li>
            <a href="{% url 'file_manager:media_all' m_type='Video' %}">
                <i class="bi bi-circle"></i><span>Review Videos</span>
            </a>
        </li>
        <li>
            <a href="{% url 'file_manager:media_all' m_type='Audio' %}">
                <i class="bi bi-circle"></i><span>Review Audio</span>
            </a>
        </li>
    </ul>
</li>