{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'assets/img/luso/logo.png' %}" width="30" height="30" class="d-inline-block align-top"
                style="border-radius: 25%;"
                alt="">
            Luso
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-profile align-items-center " href="#"
                    id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if request.user.creatorprofile.profile_image %}
                    {% if request.user.creatorprofile.profile_image.url %}
                    <img src="{{request.user.creatorprofile.profile_image.url}}" alt="Profile" class="rounded-circle">
                    {% endif %}
                    {% else %}
                    <img src="{% static 'assets/img/avator.jpeg' %}" alt="profile" class="rounded-circle">
                    {% endif %}
                    {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <h6 class="dropdown-header">@{{ user.username }}</h6>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{% url 'patron:profile' %}"><i class="bi bi-person"></i>Profile</a>
                    <a class="dropdown-item" href="{% url 'patron:profile' %}"><i class="bi bi-gear"></i>Settings</a>
                    <a class="dropdown-item" href="{% url 'faq' %}"><i class="bi bi-question-circle"></i>Need Help?</a>
                    <a class="dropdown-item">
                        <i class="bi bi-logout"></i>
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <span><button type="submit" class="btn btn-dark">Logout</button></span>
                        </form>
                    </a>
                </div>
            </li>
        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->