{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'assets/img/luso/logo.png' %}" width="30" height="30" class="d-inline-block align-top"
            style="border-radius: 25%;" alt="">
        Luso
    </a>
    <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs">

            {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}

            <!-- End conditional links -->

            <!-- General links -->
            {% with target_fragment='#creators-info' %}
            <li class="nav-item dropdown">
                <div class="dropdown dropright">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">I'm a Creator</a>
                    <div id="dropdown-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'patron:index' %}#visual-artists">Visual Artist</a>
                        <a class="dropdown-item" href="{% url 'patron:index' %}#musicians">Musician</a>
                        <a class="dropdown-item" href="{% url 'patron:index' %}#photographers">Photographer</a>
                        <a class="dropdown-item" href="{% url 'patron:index' %}#writers-poets">Writer-Poet</a>
                        <a class="dropdown-item" href="{% url 'patron:index' %}#craft-makers-designers">CraftMaker-Designer</a>
                        <a class="dropdown-item" href="{% url 'patron:index' %}#filmmakers-videographers">Filmmaker-videographer</a>
                    </div>
                </div>
            </li>
            {% endwith %}
            {% with target_fragment='#find-creator' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'patron:creators' %}?fragment={{ target_fragment }}">Browse
                    Creators</a>
            </li>
            {% endwith %}
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#pricing">Pricing</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <form class="nav-link" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" id="btn-getstarted" class="btn-getstarted">Logout</button>
                </form>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signin' %}">Sign in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>