{% load static %}
<div class="creator-container">
    <div class="float-container">
        <div class="user-image">
            {% if subscription.profile_image %}
            {% if subscription.profile_image.url %}
            <img src="{{subscription.profile_image.url}}" alt="profile image" class="img-fluid">
            {% endif %}
            {% else %}
            <img src="{% static 'assets/img/avator.jpeg' %}" alt="profile image" class="img-fluid">
            {% endif %}
        </div>
        <div class="content">
            <h3 class="name">{{subscription.tier.name}}</h3>
            <p class="username">@{{subscription.tier.creator}}</p>
            <p class="username">K{{subscription.tier.price}}</p>
            <p class="details">
                {{subscription.tier.description}}
            </p>
            <div class="links">
                <a class="facetier c-a" href="{{subscription.tier.facetier_url}}" target="_blank" title="GFG_facetier">
                    <i class="fab fa-facetier"></i>
                </a>
                <a class="linkedin c-a" href="{{subscription.linkedin_url}}" title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="insta c-a" href="{{subscription.instagram_url}}" target="_blank" title="GFG_instagram">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </div>
            <p class="details">
                {{subscription.tier.about}}
            </p>
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="col-12 mb-3">
                        <button id="send-money" class="btn btn-sm btn-primary" type="button" name="button">Pay</button>
                    </div>
                    <div class="col-12 mb-3">
                        <button id="delete-subscription" class="btn btn-sm btn-danger" type="button"
                            name="button">Unsubscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- This is link of adding small images
		which are used in the link section -->
<script src="https://kit.fontawesome.com/704ff50790.js" crossorigin="anonymous">
</script>