<table>
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Title</th>
      <th class="text-center" scope="col">Price</th>
      <th class="text-center" scope="col">Visible to Fans</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for tier in tiers %}
    <tr>
      <td data-label="#" scope="row">{{ forloop.counter }}</td>
      <td data-label="Name"> {{ tier.name }}</td>
      <td data-label="Price">{{ tier.price }}</td>
      {% if tier.visible_to_fans %}
      <td data-label="Visible to Fans">Yes</td>
      {% else %}
      <td data-label="Visible to Fans">No</td>
      {% endif %}
      <td>
        <!-- Update tier buttons -->
        <button type="button" class="update-tier m-btn btn-sm m-btn-primary"
          data-form-url="{% url 'update_tier' tier.id %}">
          Edit
        </button>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>