{% extends 'layout_admin.html' %}
{% load static %}
{% block title %}My Patrons {% endblock %}

{% block section %}

<h4>My Patrons</h4>
{% if contributions %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>username</th>
            <th>Amount</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for contribution in contributions %}
        <tr>
            <td data-label="#">{{ forloop.counter }}</td>
            <td data-label="Username">{{ contribution.payer }}</td>
            <td data-label="Subscrition">{{ contribution.amount }}</td>
            <td data-label="email">{{ contribution.payer.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>You do not have any contributions yet.</p>
{% endif %}
{% endblock section %}