{% extends 'layout_admin.html' %}
{% load static %}
{% block title %} Subscriptions {% endblock %}
{% block section %}

{% include 'reusables/_modal.html' %}
{% include "lipila/modals/_confirmation_payment.html" %}
{% include 'lipila/modals/loader.html' %}
{% if subscriptions %}
<h2>My Subscriptions</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Creator</th>
            <th>Subscription</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sub in subscriptions %}
        <tr>
            <td data-label="#">{{ forloop.counter }}</td>
            <td data-label="Patron Name">{{ sub.tier.creator }}</td>
            <td data-label="Tier">{{ sub.tier.name }}</td>
            <td data-label="Price">{{ sub.tier.price }}</td>
            <td>
                <button id="view-btn" data-url="{% url 'patron:subscription_detail' tier_id=sub.tier.id  %}" type="button"
                    class="btn-sm m-btn m-btn-primary">View</button>
                <button id="pay-btn" data-url="{% url 'checkout_subscription' sub.tier.id %}" type="button"
                    class="btn-sm m-btn m-btn-primary">Pay</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h3>You have no subscriptions.</h3>
<div class="patrons-container">
    <a class="btn btn-primary" href="{% url 'patron:creators' %}?fragment={{ target_fragment }}">Browse creators</a>
</div>

{% endif %}

{% endblock section %}
{% block extrascripts %}
<script>
    document.getElementById("view-btn").addEventListener("click", function () {
        const url = this.getAttribute("data-url");
        window.location.href = url;
    });

    document.getElementById("pay-btn").addEventListener("click", function () {
        const url = this.getAttribute("data-url");
        window.location.href = url;
    });

</script>

{%endblock extrascripts%}