<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  <title>Local Library</title>
  {% endblock %}
</head>
<body>
  {% block sidebar %}
  <ul class="sidebar-nav">
    {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <li>
      <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">Logout</button>
      </form>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
  {% endblock %}
  {% block content %}
  <!-- default content text (typically empty) -->
  {% endblock %}
</body>

</html>