<!-- Loader Modal -->
<div class="modal fade" id="loader-modal" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="loader-modal-content" class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p>Waiting for approval...</p>
            </div>
        </div>
    </div>
</div>

<style>
    #loader-modal {
        background-color: black;
        opacity: 0.6;
    }
    #loader-modal-content {
        background-color: gray;
    }
</style>