{% load static %}
<!-- Loader Modal -->
<div class="modal fade" id="loader-modal" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="loader-modal-content" class="modal-content">
            <div class="modal-body text-center">
                <div id="preloader">
                    <img id="luso-loader" src="{% static 'assets/img/luso/loader.gif' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #loader-modal {
        background-color: black;
        opacity: 0.6;
    }

    #loader-modal-content {
        background-color: gray;
    }
</style>