{% load custom_filters %}
<form method="post" class="">
  {% csrf_token %}
  <div class="form-group">
    <div class="modal-border">

      {{ form.wallet_type|add_class:"wallet_type" }}

      {{ form.payer_account_number.label_tag }}
      {{ form.payer_account_number }}
      
      {{ form.description.label_tag }}
      {{ form.description }}

      {{ form.amount }}
      
      <a class="small" href="#">By paying with my mobile money account, I agree to the Luso Privacy Statement.</a>
    </div>
  </div>
  <button type="submit" class="button button--small button--green">Continue</button>
</form>