{% extends 'layout_admin.html' %}
{% load static%}
{% load custom_filters %}
{% block title%} Creators {% endblock %}


{% block main %}

<section class="section dashboard">
    <div class="row">
        <!-- Creators -->
        <div class="col-12">
            <section class="section profile">
                <div class="row">
                    <div class="col-xl-4">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="card">
                            {% for creator in creators %}
                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                                {% if creator.profile_image %}
                                {% if creator.profile_image.url %}

                                <img src="{{ creator.profile_image.url }}" alt="Profile" class="rounded-circle">
                                {% else %}
                                <img src="#" alt="Profile" class="rounded-circle">
                                <p>No image {{creator.profile_image.url}}</p>
                                {% endif %}
                                {% endif %}
                                <h2>{{ creator.username }}</h2>
                                <h3>{{creator.city }}, {{creator.country}}</h3>
                                {% if creator.bio %}
                                <h6>{{creator.bio}}</h6>
                                {% endif %}
                                <a href="{% url 'join' creator=creator user=user %}" class="">Join</a>
                                <div class="social-links mt-2">
                                    <a href="{{creator.twitter_url}}" class="twitter" target="_blank"><i
                                            class="bi bi-twitter"></i></a>
                                    <a href="{{creator.facebook_url}}" class="facebook" target="_blank"><i
                                            class="bi bi-facebook"></i></a>
                                    <a href="{{creator.instagram_url}}" class="instagram" target="_blank"><i
                                            class="bi bi-instagram"></i></a>
                                    <a href="{{creator.linkedin_url}}" class="linkedin" target="_blank"><i
                                            class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- End Creators -->
        </div>
</section>

{% endblock %}