.creators {
    /* display:grid; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    margin-bottom: 40px;
}

.creator {
    width: 25%;
    text-align: center;
    margin-bottom: 20px;
}

.creator img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.creator h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}